{% extends "layout.html" %}
{% block content %}

<!--about section end -->
   <!-- about section start -->
   <div class="about_page_blue layout_padding ">
    <div class="container">
       <div class="row">
            <br/>
        <h2 class="about_page_taital">{{_('Notre histoire')}}</h2>
            <img src="{{url_for('static',filename='images/hand_acc.jpeg') }}" style="max-width: 40%;" class="animate-left">

            <div class="content">
                <p>
                    {{_('MEDEO Partners est un cabinet d\'expertise comptable et de commissariat aux comptes inscrit à l\'Ordre des experts-comptables (OEC) de Paris et auprès de la Compagnie régionale des commissaires aux comptes de Paris (CRCC).')}}<br/><br/>
                    {{_('MEDEO, signifiant « prendre soin » en grec ancien, caractérise le désir de ses fondateurs d\'incarner le rôle de « médecins des entreprises ».')}}
                    {{_('PARTNERS, emprunté à l\'anglais, souligne la notion de « partenariat », un terme représentant l\'association et la complémentarité de ses fondateurs :')}}' <span class="names" onclick="window.location.href='/cabinet_associes'">Israel HAIKOU</span> et <span class="names" onclick="window.location.href='/cabinet_associes'">Avi GOZLANE</span> {{_('ont fondé le cabinet en octobre 2022. Après une collaboration efficace de plus de sept ans et une expérience respective de plus de dix ans dans la comptabilité, ces « néo-médecins des entreprises » souhaitent mettre leurs expertises au service des entreprises.')}}<br/><br/><br/>    
                </p>
            </div>
            <div class="content">
                <p>
                    {{_('À l\'instar d\'un médecin, MEDEO Partners vous accompagne durant le cycle de vie de votre entreprise : en prenant soin du bien-être et de la croissance de vos projets.')}}
                    {{_('Nous voulons casser l\'image stéréotypée, traditionnelle et rigide des cabinets comptables en y apportant une touche plus jeune et moderne, tout en maintenant le sérieux et la rigueur de la profession du chiffre.')}}<br/><br/><br/>
                    {{_('Notre ambition : faire évoluer l\'image de l\'expertise-comptable en adoptant une approche plus innovante et mieux adaptée aux nouveaux besoins et aux tendances du marché, et répondre aux défis de la transformation numérique et de la mondialisation.')}}
                    {{_('L\'intérêt de travailler avec MEDEO Partners, un cabinet digitalisé et réactif, est de s\'assurer que les obligations comptables, fiscales, sociales et juridiques soient respectées, et d\'avoir un véritable pilier et consultant dans l\'entrepreneuriat qui vous suit pas à pas dans votre évolution.')}}
                    {{_('Notre profession est au cœur de l\'économie et de la société.')}}
                </p>
            </div>

            <img src="{{url_for('static',filename='images/team_working.jpeg') }}" style="max-width: 40%;animation-delay: 0.5s;" class="animate-right">

            <img src="{{url_for('static',filename='images/girl_working.jpeg') }}" style="max-width: 40%;animation-delay: 1s;" class="animate-left">
            <div class="content">
                <p>
                {{_('Nous vous proposons un accompagnement sur mesure qui répondra à vos besoins uniques.')}} <br/>
                {{_('Nous vous aidons à prendre les meilleures décisions et à relever les défis les plus complexes.')}}
                {{_('MEDEO Partners est le partenaire d\'affaires idéal qui vous offre une visibilité efficace et un gain de temps considérable grâce à nos outils digitaux mis en place.')}}
                {{_('Notre but est de placer le conseil, l\'optimisation fiscale et la stratégie au centre d\'une collaboration étroite avec nos clients. Si nécessaire, nous pouvons intervenir avec des avocats spécialisés, des ingénieurs financiers, des assureurs, des banquiers privés ou des sociétés de services informatiques pour vous proposer des solutions personnalisées et performantes dans la ligne de vos intérêts.')}}

                </p>
            </div>
       </div>
    </div>
 </div>
</div>
<div class="container" style="padding-top:120px;padding-bottom: 180px;">
    <div class="row">
        <h2 class="about_page_taital" style="color:#114a69;"> {{_('Nos Valeurs')}} </h2>
        <div class="col-lg-6">
            <div class="panel-group medeo" id="accordion3">
                <div class="panel accordion">
                    <div class="panel-heading accordion-head" data-target="#panel-10" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title">{{_('Respect ')}}</span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-10" data-parent="#accordion3">
                        <div class="panel-body valeurs ">
                            {{_('Le respect est une valeur intangible, néanmoins fondamentale, qui doit être ancrée dans la culture de toute entreprise soucieuse de son image et de sa réputation.')}}
                            {{_('Le respect doit être cultivé dans toutes les interactions entre les employés, les clients, les partenaires commerciaux et les autres parties prenantes de l\'entreprise. Cela signifie que chacun doit être traité équitablement et sans discrimination, indépendamment de sa race, de son sexe, de son orientation sexuelle, de sa religion ou de tout autre critère.')}}
                            {{_('Nous croyons au respect en tant que valeur fondamentale de notre institution, un atout nécessaire à la croissance et à la prospérité de de notre entreprise.                      ')}}
                        </div>
                    </div>
                </div>
                <div class="panel accordion">
                    <div class="panel-heading accordion-head"  data-target="#panel-11" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title" style="color:#E91C2A">{{_('Expertise Internationale')}}</span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-11" data-parent="#accordion3">
                        <div class="panel-body valeurs ">
                            <p>{{_('Notre expertise internationale en matière de conventions fiscales est un outil puissant, éclairant de nouvelles voies et des possibilités infinies pour les clients qui osent rêver grand.')}}</p>
                            <p>{{_('Les États-Unis ont conclu des conventions fiscales avec de nombreux pays pour éviter la double imposition et fournir des conseils sur les questions fiscales transfrontalières. Ces traités traitent généralement de questions telles que l\'imposition des bénéfices, des dividendes, des intérêts, des redevances et des plus-values.')}}</p>                            
                            <p>{{_('En maîtrisant ces conventions fiscales, nos experts peuvent aider nos clients à tirer parti des régimes fiscaux légalement disponibles en vertu des dispositions applicables des conventions, c\'est-à-dire optimiser leur position fiscale tout en respectant les lois et réglementations fiscales applicables.')}}</p>                            
                            <p>{{_('De plus, notre perspicacité culturelle et notre compréhension approfondie des divers marchés et réglementations comblent le fossé entre les systèmes fiscaux et les langues, vous offrant ainsi des opportunités considérables.')}}</p>
                        </div>
                    </div>
                </div>
                <div class="panel accordion ">
                    <div class="panel-heading accordion-head" data-target="#panel-12" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title">{{_('Communication')}}  </span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-12" data-parent="#accordion3">
                        <div class="panel-body valeurs ">
                            {{_('La communication est essentielle pour établir et maintenir des relations positives à la fois avec nos clients et au sein de notre entreprise.')}}
                            {{_('Cela implique une capacité à communiquer de manière claire et concise, à prendre en compte les opinions et les suggestions des clients et à offrir des solutions personnalisées.')}}
                            {{_('Nous croyons profondément qu\'en étant réactifs et proches de nos clients, nous arriverons à répondre efficacement à leurs besoins et à surmonter n\'importe quel imprévu.')}}
                        </div>
                    </div>
                </div>
                <div class="panel accordion">
                    <div class="panel-heading accordion-head" data-target="#panel-16" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title" style="color:#E91C2A"> {{_('Jeunesse')}} </span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-16" data-parent="#accordion2">
                        <div class="panel-body valeurs ">
                            {{_('Nous parions sur la jeunesse et investissons dans l\'avenir de la profession.')}}
                            {{_('En accueillant des alternants, nous donnons aux jeunes la chance de développer leurs compétences et leur expérience professionnelle.')}}
                            {{_('Travailler avec des alternants, c\'est évidemment partager notre savoir-faire et notre expertise mais aussi nous permettre d\'innover, grâce à l\'ingéniosité et au regard neuf que portent ces derniers sur la profession.')}}
                            {{_('Miser sur la jeunesse est un pari payant chez MEDEO, où tout le monde est gagnant.')}}
                        </div> 
                    </div>
                </div>



            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel-group medeo" id="accordion1">
                <div class="panel accordion">
                    <div class="panel-heading accordion-head" data-target="#panel-13" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title"style="color:#E91C2A">{{_('Minutie')}} </span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-13" data-parent="#accordion1">
                        <div class="panel-body valeurs ">
                            <p>{{_('La minutie, pierre angulaire de l\'excellence chez MEDEO. Nous opérons avec précision, sans jamais couper les coins ronds ni sacrifier la qualité. Notre engagement indéfectible envers la rigueur signifie que les délais sont respectés, les budgets respectés et les procédures suivies avec un dévouement indéfectible.')}}</p>

                            <p>{{_('Les informations fournies sont toujours fiables, précises et livrées en temps opportun, ce qui donne à nos clients la tranquillité d\'esprit. La méticulosité est le fondement de notre succès, le moteur de notre capacité à fournir un service inégalé et à maintenir les normes les plus élevées dans tout ce que nous faisons.')}}</p>                            
                            <p>{{_('Rejoignez-nous dans ce voyage, où la méticulosité est l\'épine dorsale de notre promesse de toujours dépasser les attentes.')}} </p>                        </div>
                    </div>
                </div>
                <div class="panel accordion">
                    <div class="panel-heading accordion-head"  data-target="#panel-14" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title">{{_('Écologie')}} </span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-14" data-parent="#accordion1">
                        <div class="panel-body valeurs ">
                            {{_('L\'écologie est une valeur essentielle de notre entreprise. Nous nous efforçons de vulgariser les pratiques durables, d\'intégrer au quotidien des gestes écologiques et de sensibiliser à la responsabilité environnementale.')}}
                            {{_('Nous sommes intransigeants sur nos initiatives telles que la réduction de la consommation d\'énergie, la réduction des déchets, la mise en place de processus durables et l\'encouragement de comportements écologiques à tous les niveaux de l\'entreprise comme optimiser les déplacements professionnels, réutiliser du papier en brouillon, etc.')}}
                            
                        </div>
                    </div>
                </div>
                <div class="panel accordion ">
                    <div class="panel-heading accordion-head" data-target="#panel-15" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title"style="color:#E91C2A">{{_('Mixité et inclusion')}}</span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-15" data-parent="#accordion1">
                        <div class="panel-body valeurs ">
                            {{_('Nous nous engageons à construire un environnement inclusif et respectueux en mettant en œuvre plusieurs pratiques et initiatives :')}}
                            {{_('· Diversité dans les effectifs en matière de recrutement')}}
                            {{_('· Sensibilisation à la diversité culturelle, en organisant des tables rondes autour du métier')}}
                            {{_('· Politiques d\'inclusion qui garantissent l\'égalité des chances pour tous les employés')}}
                            {{_('· Mesures contre le harcèlement et la discrimination, pour prévenir le harcèlement et la discrimination.')}}
                            {{_('En adoptant ces valeurs et en les intégrant dans les pratiques quotidiennes de l\'entreprise, nous pouvons contribuer à renforcer la mixité, l\'inclusion et le respect de tous les employés.')}}
                            
                        </div>
                    </div>
                </div>
                <div class="panel accordion ">
                    <div class="panel-heading accordion-head" data-target="#panel-18" data-toggle="collapse" aria-expanded="false">
                        <span class="panel-title">{{_('Qualité du service')}} </span>
                    </div>
                    <div class="panel-collapse collapse" id="panel-18" data-parent="#accordion2">
                        <div class="panel-body valeurs ">
                            <p>{{_('Notre dévouement à fournir un service de haute qualité est résolu. C\'est plus qu\'une simple promesse, c\'est une norme que nous nous sommes fixée pour nous assurer que nos clients ne sont pas seulement satisfaits, mais ravis des résultats que nous apportons à la table.')}}</p>

                            <p>{{_('Nous possédons une combinaison unique d\'attributs qui nous distingue : l\'art de l\'écoute, la rapidité de la réactivité, l\'expertise de la compétence et le professionnalisme inégalé.')}}</p>

                            <p>{{_('Ces compétences nous permettent de comprendre les besoins de nos clients et d\'adapter nos solutions pour répondre à leurs besoins spécifiques. Avec un sens aigu de l\'anticipation, nous avons toujours une longueur d\'avance, offrant des expériences personnalisées qui dépassent les attentes.')}}</p>

                            <p>{{_('Rejoignez-nous et découvrez le résultat de notre mélange unique de compétences.')}} </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

