{% extends "layout.html" %}
{% block content %}

<div class="team_section layout_padding">
    <div class="container">
        <h1 class="what_taital">Nos associés</h1>
        </br>
        <p class="what_text_1">Nos experts travaillent depuis plus de 10 ans dans le domaine de l'expertise-comptable</p>
        </br>
        <div class="team_section_2 layout_padding">
            <div class="row">


                <div class="col-sm-6" style="text-align:center;">
                    <img src="{{url_for('static',filename='images/id/Israel.png') }}" class="image_7">
                    <p class="readable">

                        <a class="btn " data-toggle="collapse" href="#collapseIsra" role="button" aria-expanded="false"
                            aria-controls="collapseIsra">
                            <div>
                                <p class="readable_text">Israel HAIKOU</p>
                                <p class="readable_text_1">CEO - Expert-comptable et commissaire aux comptes
                                    <br />
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </p>

                            </div>
                        </a>


                    <div class="collapse" id="collapseIsra">
                        <div class="card card-body justify alinea">
                            <i>"Pour réussir, il n’y a que des plans A pas de plans B "</i></br> Cette phrase
                            caractérise bien mon état d’esprit.
                            <br/><br/>

                            Diplômé en Licence d’économie, je suis me suis réorienté dans un domaine qui m’a toujours
                            passionné : la comptabilité. J’ai donc obtenu une deuxième licence en comptabilité (DCG), un
                            master en comptabilité (DSCG), puis le DEC (Bac+8). Mon cursus m’a permis d’avoir une vision
                            plus complète du monde de l’entreprenariat.

                            Depuis le début de ma carrière, j’avais pour ambition de fonder mon cabinet. Je m’étais
                            donné une dizaine d’années pour le faire.

                            J’ai exercé pendant plus de 10 ans en France et aux Etats-Unis, ce qui m’a permis d’acquérir
                            une expérience solide et très enrichissante.
                            </br></br>
                            Dix ans plus tard, j’ai obtenu mon diplôme d’Expert-Comptable et de Commissaire aux comptes,
                            j’ai co-fondé mon entreprise.

                            Avant tout, je suis un fervent amateur de la culture entrepreneuriale et un mentor dans
                            l’âme.

                            Entreprendre a toujours été pour moi une seconde nature et la comptabilité, une passion. Le
                            mélange des deux vous donne une personne motivée et déterminée à construire une entreprise
                            de renommée internationale.

                            MEDEO Partners sera plus qu’un cabinet d’expertise-comptable et de commissariat aux comptes
                            : il sera un partenaire privilégié de mes clients car ce n’est qu’ensemble que nous
                            avancerons.

                            <div class="social_icon_2">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/isra%C3%ABl-haikou-357a4388/"><i
                                                class="fa-brands fa-linkedin"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    </p>

                </div>
                <div class="col-sm-6" style="text-align:center;">
                    <img src="{{url_for('static',filename='images/id/Avi.png') }}" class="image_7">
                    <p class="readable">
                        <a class="btn " data-toggle="collapse" href="#collapseAvi" role="button" aria-expanded="false"
                            aria-controls="collapseAvi">
                            <div>
                                <p class="readable_text">Avi GOZLANE</p>
                                <p class="readable_text_1">Associé, Directeur de mission
                                    <br />
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                </p>

                            </div>
                        </a>

                    <div class="collapse" id="collapseAvi">
                        <div class="card card-body justify">
                            <i>« L’art de la réussite consiste à savoir s’entourer des meilleurs. » John Fitzgerald
                                Kennedy</i></br>

                            Fort de 10 années d’expérience en cabinet d’expertise comptable et de commissariat aux
                            comptes, et de mon cursus universitaire en comptabilité et gestion, je souhaite accompagner
                            les entreprises et prendre soin de mes clients.
                            La diversité de mon parcours professionnel m’a permis de développer une expertise
                            considérable dans mon domaine et une assurance au quotidien, au chevet de mes partenaires.
                            </br></br>
                            Méticuleux, rigoureux et réactif, je me positionne comme le garant de la bonne gestion de
                            votre activité.

                            MEDEO Partners sera plus qu’un cabinet d’expertise-comptable et de commissariat aux comptes
                            : un appui sans faille pour votre entreprise, que ce soit au niveau juridique, fiscal,
                            social, ou dans le cadre de contrôles sociaux et/ou fiscaux.


                            <div class="social_icon_2">
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/avi-gozlane-a36037197/"><i
                                                class="fa-brands fa-linkedin"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    </p>

                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}