{% extends "layout.html" %}
{% block content %}
<div class="loader-container">
  <div id="foregid" class="foreg"></div>
  <span id="loaderid" class="loader"></span>
</div>


<div class="fade_in page-heading-nouscontacter animate-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital">{{_('Actualités')}}</h1>
        <h4 class="medeo-cure-your" style="font-style: italic;">{{_('Medeo, "Cure your business"')}}</h4>
      </div>
    </div>
  </div>
</div>

<!-- {% include 'carousel_common.html' %} -->




<div class="fade_in page-heading-nouscontacter animate-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="banner_taital" style=" margin-top: 7vw;">{{_('Nos derniers articles')}}</h3>
      </div>
    </div>
  </div>
</div>


<div class="filters d-flex align-items-center justify-content-center animate-top">
  <div class="ui-group">
    <div class="button-group js-radio-button-group group-2" data-filter-group="medium">
      <button type="button" class="btn btn-red btn-lg effet_ombre_boutons_valeurs" data-filter=".all-media" style="margin-right: 57px;">Toutes Catégories</button>
      <button type="button" class="btn btn-blue btn-lg effet_ombre_boutons_valeurs" data-filter=".fiscal">Fiscal</button>
      <button type="button" class="btn btn-grey btn-lg effet_ombre_boutons_valeurs" data-filter=".social">Social</button>
      <button type="button" class="btn btn-red btn-lg effet_ombre_boutons_valeurs" data-filter=".juridique">Juridique</button>

    </div>
  </div>
</div>



<div class="card-container animate-top">
  <div class="card fiscal" data-href="{{_('news_1234')}}">
    <div class="card-img"></div>
    <a href="{{_('news_1234')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_1234.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">6/11/2023</div>
      </div>
      <h6 class="card-title">
        Plus que quelques jours pour opter pour le régime de
        l'auto-entrepreneur en 2024
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_787')}}">
    <div class="card-img"></div>
    <a href="{{_('news_787')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_787.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">6/07/2023</div>
      </div>
      <h6 class="card-title">
        Taxation des logements vacants ou secondaires : la nouvelle liste
        des zones tendues est parue
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_1112')}}">
    <div class="card-img"></div>
    <a href="{{_('news_1112')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_1112.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">5/27/2023</div>
      </div>
      <h6 class="card-title">
        Heures supplémentaires : les missions complémentaires du Pacte
        enseignant sont défiscalisées
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_4456')}}">
    <div class="card-img"></div>
    <a href="{{_('news_4456')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_4456.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">5/20/2023</div>
      </div>
      <h6 class="card-title">
        Les modalités d’exercice du droit de communication auprès des
        opérateurs de l’internet sont définies
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_5555')}}">
    <div class="card-img"></div>
    <a href="{{_('news_5555')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_5555.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">6/11/2023</div>
      </div>
      <h6 class="card-title">
        Les déficits relatifs à des exercices prescrits peuvent être
        contrôlés avant même leur imputation
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_1212')}}">
    <div class="card-img"></div>
    <a href="{{_('news_1212')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_1212.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">6/07/2023</div>
      </div>
      <h6 class="card-title">
        La présomption de salariat des artistes du spectacle ne s'applique
        pas aux sportifs professionnels
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_4322')}}">
    <div class="card-img"></div>
    <a href="{{_('news_4322')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_4322.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">5/27/2023</div>
      </div>
      <h6 class="card-title">
        Crédit d’impôt recherche : le Conseil d’État définit la notion de «
        subvention publique »
      </h6>
    </div>
  </div>
  <div class="card fiscal" data-href="{{_('news_1200')}}">
    <div class="card-img"></div>
    <a href="{{_('news_1200')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/fiscal/news_1200.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-fiscal">Fiscal</a>
        <div class="card-time">5/20/2023</div>
      </div>
      <h6 class="card-title">
        La liste des États qui participent avec la France à la déclaration
        pays par pays est actualisée
      </h6>
    </div>
  </div>
  <div class="card social" data-href="{{_('news_1')}}">
    <div class="card-img"></div>
    <a href="{{_('news_1')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/social/news_1.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-social">Social</a>
        <div class="card-time">6/11/2023</div>
      </div>
      <h6 class="card-title">
        Une semaine de jurisprudence sociale à la Cour de cassation
      </h6>
    </div>
  </div>
  <div class="card social" data-href="{{_('news_2')}}">
    <div class="card-img"></div>
    <a href="{{_('news_2')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/social/news_2.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-social">Social</a>
        <div class="card-time">6/07/2023</div>
      </div>
      <h6 class="card-title">
        Preuve d’une faute rapportée par des « clients mystères » :
        recevable sous conditions
      </h6>
    </div>
  </div>
  <div class="card social" data-href="{{_('news_3')}}">
    <div class="card-img"></div>
    <a href="{{_('news_3')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/social/news_3.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-social">Social</a>
        <div class="card-time">5/27/2023</div>
      </div>
      <h6 class="card-title">
        L'employeur qui licencie un salarié ayant requis des élections doit
        prouver l'absence de discrimination
      </h6>
    </div>
  </div>
  <div class="card social" data-href="{{_('news_4')}}">
    <div class="card-img"></div>
    <a href="{{_('news_4')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/social/news_4.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-social">Social</a>
        <div class="card-time">5/20/2023</div>
      </div>
      <h6 class="card-title">
        Forfait jours : un salarié devant être présent 6 heures par jour
        dans l'entreprise n'est pas autonome
      </h6>
    </div>
  </div>
  <div class="card juridique" data-href="{{_('news_12')}}">
    <div class="card-img"></div>
    <a href="{{_('news_12')}}" class="card-link">
      <div
        class="card-img-hovered"
        style="
          background-image: var(--card-img-hovered-overlay),
            url('../static/images/news/juridique/juridique_one.jpeg');
        "
      ></div>
    </a>
    <div class="card-info">
      <div class="card-about">
        <a class="card-tag tag-juridique">Juridique</a>
        <div class="card-time">5/20/2023</div>
      </div>
      <h6 class="card-title">
        Mécénat d’entreprise : et si vous participiez à l’achat d’une œuvre
        exceptionnelle ?
      </h6>
    </div>
  </div>
</div>


    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>



<style>
  :root {
  --card-img-height: 200px;
}


</style>




<script>

  document.addEventListener('DOMContentLoaded', function () {

    // Loader des autres pages
    var loaderDiv = document.getElementById('loaderid');
    var foregroundDiv = document.getElementById('foregid');
    // Show the div
    foregroundDiv.style.display = 'block';
    loaderDiv.style.display = 'block';
    // Hide the div after 1 seconds
    setTimeout(function () {
      loaderDiv.style.display = 'none';
      foregroundDiv.style.display = 'none';
    }, 1000);
  });


</script>


  <script>

    $(".card a").on("click",function(e){
        e.preventDefault();
    });

    $(".card").on("click",function(){
        window.location.href = $(this).data("href");
    });


    $('.js-radio-button-group button').on('click', function () {
      var filterValue = $(this).data('filter');


      if(filterValue == ".all-media"){
        $('.card-container .card').show();
        return
      }

      $('.card-container .card').hide();
      $('.card-container ' + filterValue).show();
    });


  </script>


<script>

$(document).ready(function() {
    var totalSlides = $('input[name="radio-buttons"]').length;
    var currentIndex = 0;

    var autoSlide = setInterval(function() {
      currentIndex = (currentIndex + 1) % totalSlides;
      $('input[name="radio-buttons"]').eq(currentIndex).prop('checked', true);
    }, 7000); // Change slide every 6 seconds

    // Reset the interval on manual click
    $('.carousel-controls label, .carousel-dots label').click(function() {
      clearInterval(autoSlide);
      autoSlide = setInterval(function() {
        currentIndex = (currentIndex + 1) % totalSlides;
        $('input[name="radio-buttons"]').eq(currentIndex).prop('checked', true);
      }, 7000);
    });
  });
</script>
{% endblock content %}