{% extends "layout.html" %}
{% block content %}

<div class="bg-image-home"></div>

<section class="w-full">
  <div data-translate class="h-96 animate-top">
    <div class="container mx-auto flex flex-col gap-4 text-center items-center justify-center h-full">
      <h1 class="text-5xl text-primary font-black">{{_('Actualités')}}</h1>
      <h2 class="italic text-primary opacity-75 font-bold text-2xl">{{_('Medeo, "Cure your business"')}}</h2>
    </div>
  </div>
</section>

<section class="w-full bg-white">
  <div class="container mx-auto flex flex-col gap-8 py-16">
    <h1 class="text-5xl text-primary font-black">{{_('Nos derniers articles')}}</h1>
    
    <div class="flex gap-4 select-none">
      <a filer-article="" class="text-white bg-primary font-semibold cursor-pointer bg-gray-50 px-4 py-2 rounded-xl mr-16">{{_('Toutes catégories')}}</a>
      <a filer-article="fiscal" class="text-blue-500 font-semibold cursor-pointer bg-gray-50 px-4 py-2 rounded-xl">{{_('Fiscal')}}</a>
      <a filer-article="social" class="text-blue-500 font-semibold cursor-pointer bg-gray-50 px-4 py-2 rounded-xl">{{_('Social')}}</a>
      <a filer-article="juridique" class="text-blue-500 font-semibold cursor-pointer bg-gray-50 px-4 py-2 rounded-xl">{{_('Juridique')}}</a>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-8">
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_1234')}}">
        <div class="card-img"></div>
        <a href="{{_('news_1234')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_1234.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 6/11/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Plus que quelques jours pour opter pour le régime de
            l'auto-entrepreneur en 2024")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_787')}}">
        <div class="card-img"></div>
        <a href="{{_('news_787')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_787.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 6/07/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Taxation des logements vacants ou secondaires : la nouvelle liste
            des zones tendues est parue")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_1112')}}">
        <div class="card-img"></div>
        <a href="{{_('news_1112')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_1112.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/27/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Heures supplémentaires : les missions complémentaires du Pacte
            enseignant sont défiscalisées")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_4456')}}">
        <div class="card-img"></div>
        <a href="{{_('news_4456')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_4456.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/20/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Les modalités d’exercice du droit de communication auprès des
            opérateurs de l’internet sont définies")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_5555')}}">
        <div class="card-img"></div>
        <a href="{{_('news_5555')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_5555.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 6/11/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Les déficits relatifs à des exercices prescrits peuvent être
            contrôlés avant même leur imputation")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_1212')}}">
        <div class="card-img"></div>
        <a href="{{_('news_1212')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_1212.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 6/07/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("La présomption de salariat des artistes du spectacle ne s'applique
            pas aux sportifs professionnels")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_4322')}}">
        <div class="card-img"></div>
        <a href="{{_('news_4322')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_4322.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/27/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Crédit d’impôt recherche : le Conseil d’État définit la notion de «
            subvention publique »")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card fiscal" data-href="{{_('news_1200')}}">
        <div class="card-img"></div>
        <a href="{{_('news_1200')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/fiscal/news_1200.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-fiscal">Fiscal</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/20/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("La liste des États qui participent avec la France à la déclaration
            pays par pays est actualisée")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card social" data-href="{{_('news_1')}}">
        <div class="card-img"></div>
        <a href="{{_('news_1')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/social/news_1.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-social">Social</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 6/11/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Une semaine de jurisprudence sociale à la Cour de cassation")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card social" data-href="{{_('news_2')}}">
        <div class="card-img"></div>
        <a href="{{_('news_2')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/social/news_2.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-social">Social</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 6/07/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Preuve d’une faute rapportée par des « clients mystères » :
            recevable sous conditions")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card social" data-href="{{_('news_3')}}">
        <div class="card-img"></div>
        <a href="{{_('news_3')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/social/news_3.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-social">Social</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/27/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("L'employeur qui licencie un salarié ayant requis des élections doit
            prouver l'absence de discrimination")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card social" data-href="{{_('news_4')}}">
        <div class="card-img"></div>
        <a href="{{_('news_4')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/social/news_4.jpeg') }}" alt="news" />
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-social">Social</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/20/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Forfait jours : un salarié devant être présent 6 heures par jour
            dans l'entreprise n'est pas autonome")}}
          </h6>
        </div>
      </div>
      <div class="p-6 flex flex-col gap-4 select-none cursor-pointer transition hover:bg-gray-50 rounded-3xl card juridique" data-href="{{_('news_12')}}">
        <div class="card-img"></div>
        <a href="{{_('news_12')}}" class="card-link">
          <img class="rounded-3xl w-full h-32 object-cover" src="{{url_for('static',filename='images/news/juridique/juridique_one.jpeg') }}" alt="news" />"
        </a>
        <div class="card-info flex flex-col gap-4">
          <div class="card-about flex justify-between items-center">
            <a class="card-tag px-3 py-2 bg-primary text-white inline-block rounded-lg font-semibold text-sm tag-juridique">Juridique</a>
            <div class="card-time text-sm text-gray-400">{{_('Publié le 5/20/2023')}}</div>
          </div>
          <h6 class="card-title">
            {{_("Mécénat d’entreprise : et si vous participiez à l’achat d’une œuvre
            exceptionnelle ?")}}
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="card-container animate-top">
  
</div>

<script>

  $(() => {
    $('[filer-article]').click(function() {
      const filter = $(this).attr('filer-article');
      $('[filer-article]').removeClass('bg-primary text-white text-blue-500 bg-gray-50');
      $('[filer-article]').addClass('text-blue-500 bg-gray-50');
      $(this).removeClass('bg-primary text-white text-blue-500 bg-gray-50');
      $(this).addClass('bg-primary text-white');
      if (filter) {
        $('.card').hide();
        $(`.card.${filter}`).show();
      } else {
        $('.card').show();
      }
    });
  })

  const cards = document.querySelectorAll('.card');
  cards.forEach(card => {
    card.addEventListener('click', () => {
      const href = card.getAttribute('data-href');
      window.location.href = href;
    });
  });

</script>

{% endblock content %}