{% extends "layout.html" %}
{% block content %}
<div class="loader-container">
    <div id="foregid" class="foreg"></div>
    <span id="loaderid" class="loader"></span>
</div>



<div class="page-heading-cabinet animate-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="banner_taital">{{_('Audit')}}</h1>
                <h4 class="medeo-cure-your" style="font-style: italic;">{{_('Medeo, "Cure your business"')}}</h4>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container animate-top">
    <div class="row">
        <div class="col-7">
            <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/accounting.webp') }}"
                alt="blog-img" loading="lazy">
            <h5 class="title-nos-expertises"> {{_('Audit contractuel')}}</h5><br>
            <h6 class="speech-nos-expertises" style="line-height: 30px;">

                {{_('Nous réalisons un examen indépendant, systématique et méthodique des états financiers de nos clients en tant qu'auditeurs qualifiés conformément aux normes d'audit.')}}
                <br>
                {{_('L\'objectif de notre audit contractuel est d'émettre une opinion sur la fiabilité des états financiers et leur conformité avec les principes comptables officiellement en vigueur.')}}
                <br>
                {{_('Notre mission consiste également à détecter les erreurs, omissions et irrégularités financières afin de garantir l'exactitude des informations dans un soucis de transparence ce qui permet, de renforcer la confiance des parties prenantes et d'assurer la conformité avec la réglementation.')}}
                <br><br>
            </h6>
        </div>

    </div>

    <div class="row">
        <div class="col-5">
        </div>

        <div class="col-7" id="commissariatauxcomptes">
            <img class="logo-nos-expertises" style="display: block;margin-left: auto;"
                src="{{ url_for('static',filename='images/audit.webp') }}" alt="blog-img" loading="lazy">
            <h3 class="title-nos-expertises" style="text-align: right;"> {{_('Commissariat aux comptes')}} </h3><br>


            <h6 class="speech-nos-expertises" style="margin-bottom: 10%;line-height: 30px;">
                {{_("En tant que commissaires indépendants,nous proposons un service de commissariat aux compotes afin d'assurer la fiabilité et la transparence des états financiers de nos clients. Notre mission consiste à émettre des avis sur la sincérité et l'exactitude des états financiers et à signaler toute non-conformité éventuelle.")}}
            </h6>

        </div>
    </div>

    <p>
    Notre mission d’audit contractuel : un gage de transparence et de fiabilité
    En tant qu ' auditeurs qualifiés, nous réalisons un examen indépendant systématique, complet et approfondi des états financiers de nos clients, conformément aux normes d'audit en vigueur. Voici les principaux objectifs et avantages de notre mission d’audit contractuel :

    Fiabilité des états financiers :
    Nous vérifions l'exactitude des informations financières présentées, afin de garantir qu'elles reflètent fidèlement la situation de l'entreprise dans l'objectif de permettre aux actionnaires et autres parties prenantes de prendre des décisions éclairées sur la base de données fiables et actualisées
    Conformité aux normes comptables :
    Nos audits visent à assurer que les états financiers respectent scrupuleusement les principes et normes comptables officiels, qu'ils soient locaux ou internationaux.
    Détection des erreurs et irrégularités :
    L’audit contractuel permet de repérer rapidement les erreurs, omissions ou irrégularités financières pouvant affecter la santé de l’entreprise cela afin d'éviter des répercussions importantes, tant sur la crédibilité de l'entreprise que sur sa performance financière à long terme.
    Renforcement de la confiance des parties prenantes :
    Un audit indépendant renforce la confiance des investisseurs, des créanciers, et des partenaires commerciaux en la transparence et la gestion rigoureuse de l’entreprise. Cela peut également faciliter l'accès au financement et consolider la réputation de l'entreprise sur le marché.
    Prévention des risques financiers :
    En identifiant les faiblesses des systèmes de contrôle interne, notre audit aide à prévenir les risques financiers. Nous proposons des recommandations pratiques pour améliorer les processus internes et sécuriser les flux financiers.
    Optimisation des pratiques comptables :
    Nos auditeurs apportent également des conseils sur l’amélioration des pratiques comptables et financières, pour assurer une meilleure gestion des ressources et des performances accrues à long terme.
    En conclusion, notre mission d’audit contractuel ne se limite pas à une simple vérification des chiffres. Elle offre une vision globale de la santé financière de votre entreprise, tout en vous accompagnant dans la conformité, la gestion des risques et l’amélioration continue.
    </p>

</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {

        // Loader des autres pages
        var loaderDiv = document.getElementById('loaderid');
        var foregroundDiv = document.getElementById('foregid');
        // Show the div
        foregroundDiv.style.display = 'block';
        loaderDiv.style.display = 'block';
        // Hide the div after 1 seconds
        setTimeout(function () {
            loaderDiv.style.display = 'none';
            foregroundDiv.style.display = 'none';
        }, 1000);
    });


</script>
{% endblock content %}