{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading header-text layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 style="color:white;">Audit - Conseil</h1>
              <span>Nos experts sont spécialisés dans l'audit, le conseil ainsi que les services comptables, fiscaux et juridiques.</span>
            </div>
          </div>
        </div>
      </div>
<br><br>
<div class="container">
    <div class="panel-group" id="accordionserv">
    <div class="row">
            <div class="col-lg-4">
                <div class="panel accordion">
                        <div class="panel-heading business-head" data-target="#audit-contractuel" data-toggle="collapse" aria-expanded="true">
                            <span class="panel-title">Audit contractuel</span><i class="fa fa-angle-right" style="margin-left:35%;"></i>
                        </div>
                        <div class="panel-heading business-head" data-target="#conseil" data-toggle="collapse" aria-expanded="false">
                            <span class="panel-title">Conseil</span><i class="fa fa-angle-right" style="margin-left:35%;"></i>
                        </div>
                        <div class="panel-heading business-head" data-target="#accompagnement-international" data-toggle="collapse" aria-expanded="false">   
                            <span class="panel-title">Accompagnement international</span><i class="fa fa-angle-right" style="margin-left:35%;"></i>
                        </div>
                        <div class="panel-heading business-head" data-target="#conseil-particuliers" data-toggle="collapse" aria-expanded="false">
                            <span class="panel-title">Conseil aux particuliers</span><i class="fa fa-angle-right" style="margin-left:35%;"></i>
                        </div>
                        <div class="panel-heading business-head" data-target="#service-informatique" data-toggle="collapse" aria-expanded="false">
                            <span class="panel-title">Service informatique</span><i class="fa fa-angle-right" style="margin-left:35%;"></i>
                        </div>
                    </div>
                </div>
        <div class="col-lg-8">
            <div class="panel-collapse collapse" id="audit-contractuel" data-parent="#accordionserv">
                <div class="panel-body justify">
                    <img src="{{ url_for('static',filename='images/service/single_service_03.jpg') }}">
                    <h4>Audit Contractuel</h4>
                    <p>Nous effectuons un examen indépendant et systématique des états financiers de nos clients en tant qu'auditeurs qualifiés, en conformité avec les normes d'audit.
                        <br><br>
                        Le but de notre audit contractuel est de fournir une opinion sur la fiabilité et la conformité des états financiers avec les principes comptables officiels.
                        <br><br>
                        Il permet également de détecter les erreurs, les omissions et les irrégularités financières.</p>
                </div>
            </div>
                <div class="panel-collapse collapse" id="conseil" data-parent="#accordionserv">
                    <div class="panel-body justify">
                        <img src="{{ url_for('static',filename='images/service/single_service_01.jpg') }}">
                        <h4>Conseil</h4>
                        <p>Nous fournissons un service de conseil pour aider les entreprises à prendre des décisions éclairées et à atteindre leurs objectifs commerciaux et financiers.
                            <br><br>
                            Nous offrons des conseils sur les stratégies financières, les opérations commerciales, la gestion de la trésorerie, la planification fiscale et les opérations internationales.
                            <br><br>
                            Nous aidons également les entreprises à gérer les risques financiers, les opportunités d'investissement et les relations avec les actionnaires et les parties prenantes.</p>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="accompagnement-international" data-parent="#accordionserv">
                        <div class="panel-body justify">
                            <img src="{{ url_for('static',filename='images/service/single_service_02.jpg') }}">
                            <h4>Accompagnement international</h4>
                            <p>Vous souhaitez vous implanter en France ?
                                <br><br>
                                Nos experts accompagnent les investisseurs et les sociétés étrangères dans la tenue comptable, fiscale et sociale de leur structure implantée en France, jusqu’à la réalisation de due diligences, en passant par la domiciliation et un conseil juridique et fiscal d’exception.</p>
                            </div>
                        </div>
                        <div class="panel-collapse collapse" id="conseil-particuliers" data-parent="#accordionserv">
                            <div class="panel-body justify">
                                <img src="{{ url_for('static',filename='images/service/single_service_04.jpg') }}">
                                <h4>Conseil aux particuliers</h4>
                                <p>Nous pouvons aussi aider les particuliers à gérer leur patrimoine en leur fournissant des conseils sur la planification fiscale et l'optimisation de leurs finances personnelles.
                                    <br><br>
                                    Nous pouvons les aider à comprendre leurs obligations fiscales et à préparer leurs déclarations de revenus de manière efficace.
                                    <br><br>
                                    Nous pouvons également les aider à élaborer des stratégies pour minimiser leurs impôts, gérer leur épargne et leur retraite, et à prendre des décisions financières optimales.</p>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="service-informatique" data-parent="#accordionserv">
                                <div class="panel-body justify">
                                    <img src="{{ url_for('static',filename='images/service/single_service_01.jpg') }}">
                                    <h4>Service informatique</h4>
                                    <p>Nous pouvons aussi fournir des services informatiques pour aider les entreprises à optimiser leur utilisation de la technologie.
                                        <br><br>
                                        Les services informatiques que nous pouvons offrir incluent la mise en place et la gestion de systèmes comptables et financiers, la mise en place de systèmes de gestion de la paie, la mise en place de systèmes de suivi des stocks et de la facturation, et des conseils sur les logiciels et les technologies les plus appropriées pour les besoins de l'entreprise.
                                        <br><br>
                                        Nous pouvons aussi aider les entreprises à garantir la sécurité de leurs données financières et à les protéger contre les cybermenaces.</p>
                                    </div>
                                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}