{% extends "layout.html" %}
{% block content %}
<div class="page-heading-cabinet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{_('Votre cabinet')}}</h1>
                <h3>{{_('Medeo, Cure your business')}}</h3>
                <br><br>
                <h1>{{_('Notre histoire')}}</h1>

            </div>
        </div>
    </div>
</div>
<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-6 speech-cabinet">
            {{_('MEDEO Partners est un cabinet d\'expertise comptable et de commissariat aux comptes')}}<br /><br />

            {{_('inscrit à l\'Ordre des experts-comptables (OEC) de Paris et auprès de la Compagnie régionale des
            commissaires aux comptes de Paris (CRCC).')}}<br /><br />

            <br><br>

            {{_('MEDEO, signifiant « prendre soin » ')}}

        </div>
        <div class="col-6">
            <img class="images_cabinet" src="{{url_for('static',filename='images/medeo_talking.png') }}">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <img class="images_cabinet" src="{{url_for('static',filename='images/heart_take_care.jpeg') }}">


        </div>
        <div class="col-6 speech-cabinet">
            {{_('en grec ancien, caractérise le désir de ses fondateurs d\'incarner le rôle de « médecins des
            entreprises ».')}}

            <br><br>
            {{_('PARTNERS, emprunté à l\'anglais, souligne la notion de « partenariat », un terme représentant
            l\'association et la complémentarité de ses fondateurs :')}}' <span class="names"
                onclick="window.location.href='/cabinet_associes'">Israel HAIKOU</span> et <span class="names"
                onclick="window.location.href='/cabinet_associes'">Avi GOZLANE</span> {{_('ont fondé le cabinet en
            octobre 2022. ')}}
            <br><br>

            {{_('Après une collaboration efficace de plus de sept ans et une expérience respective de plus de dix
            ans dans la comptabilité, ces « néo-médecins des entreprises » souhaitent mettre leurs expertises au
            service des entreprises.')}}<br /><br /><br />
            <br><br>

        </div>
    </div>


    <div class="row">
        <div class="col-6 speech-cabinet">

            {{_('À l\'instar d\'un médecin, MEDEO Partners vous accompagne durant le cycle de vie de votre entreprise :
            en prenant soin du bien-être et de la croissance de vos projets.')}}
            {{_('Nous voulons casser l\'image stéréotypée, traditionnelle et rigide des cabinets comptables en y
            apportant une touche plus jeune et moderne, tout en maintenant le sérieux et la rigueur de la profession du
            chiffre.')}}<br /><br /><br />

        </div>
        <div class="col-6">
            <img class="images_cabinet" src="{{url_for('static',filename='images/medeo_talking.png') }}">

        </div>
    </div>

</div>



<div class="page-heading-cabinet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{_('Nos valeurs')}}</h1>
                <br><br>
                <button type="button" class="btn btn-primary">Respect</button>
                <button type="button" class="btn btn-secondary">Communication</button>
                <button type="button" class="btn btn-success">Rigueur</button>
                <button type="button" class="btn btn-danger">Ecologie</button>
                <button type="button" class="btn btn-warning">Mixité et inclusion</button>
                <button type="button" class="btn btn-info">Expérience internationale</button>
                <button type="button" class="btn btn-light">Jeunesse</button>
                <button type="button" class="btn btn-dark">Engagement</button>
                <button type="button" class="btn btn-primary">Qualité de service</button>

            </div>
        </div>
    </div>
</div>

<br><br>

<div class="page-heading-cabinet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{_('L\'équipe')}}</h1>
                <br><br>
                **** Carousel EQUIPE ****
            </div>
        </div>
    </div>
</div>
<br><br><br>






<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script type="text/javascript" src="static/calendly/widget.js"></script>
<script
    type="text/javascript">window.onload = function () { Calendly.initBadgeWidget({ url: 'https://calendly.com/medeo-partners/30min', text: '<div class="hh">Prendre RDV', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->

{% endblock content %}