{% extends "layout.html" %}
{% block content %}
<div class="loader-container">
    <div id="foregid" class="foreg"></div>
    <span id="loaderid" class="loader"></span>
</div>


<div class="page-heading-cabinet animate-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="banner_taital">{{_('Conseil-Optimisation')}}</h1>
                <h4 class="medeo-cure-your" style="font-style: italic;">{{_('Medeo, "Cure your business"')}}</h4>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container animate-top">
    <div class="row">
        <div class="col-7">
            <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/delegation.png') }}"
                alt="blog-img" loading="lazy">
            <h3 class="title-nos-expertises"> {{_('Cession')}}</h3><br>
            <h6 class="speech-nos-expertises">
                {{_(' Nous pouvons aider une entreprise lors d\'une cession en lui fournissant des services tels que
                :')}}
                <br>
                {{_('· Évaluation de la valeur de l\'entreprise')}}
                <br>
                {{_('· Conseil fiscal sur les conséquences de la cession')}}
                <br>
                {{_('· Assistance à la préparation des documents financiers pour la transaction')}}
                <br>
                {{_('· Conseil sur les meilleures stratégies pour maximiser la valeur de la cession')}}
                <br>
                {{_('· Assistance à la négociation des termes financiers de la transaction.')}}
                <br>
            </h6>
        </div>

    </div>




    <div class="row">
        <div class="col-5">
        </div>

        <div class="col-7">
            <img class="logo-nos-expertises" style="display: block;margin-left: auto;"
                src="{{ url_for('static',filename='images/acquisition.png') }}" alt="blog-img" loading="lazy">
            <h3 class="title-nos-expertises" style="text-align: right;"> {{_('Fusions & Acquisitions')}} </h3><br>


            <h6 class="speech-nos-expertises">
                {{_('Nous pouvons guider les entreprises dans les fusions et acquisitions en les aidant à :')}}
                <br>
                {{_('· Évaluer la performance financière de la société cible')}}
                <br>
                {{_('· Minimiser les coûts fiscaux liés à la transaction')}}
                <br>
                {{_('· Effectuer une analyse approfondie de la situation financière et comptable de la société cible')}}
                <br>
                {{_('· Négocier les termes financiers de la transaction')}}
                <br>
                {{_('· Mettre en place les aspects financiers de la transaction.')}}
                <br>
            </h6>

        </div>

    </div>





    <div class="row">
        <div class="col-7">
            <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/international.png') }}"
                alt="blog-img" loading="lazy">
            <h3 class="title-nos-expertises"> {{_('Accompagnement International')}} </h3><br>

            <h6 class="speech-nos-expertises">
                {{_('Vous souhaitez vous implanter en France ?')}}
                <br><br>
                {{_('Nos experts accompagnent les investisseurs et les sociétés étrangères dans \n
                la tenue comptable, fiscale \n
                et sociale de leur structure implantée en France, jusqu\'à la réalisation de due \n
                diligences, en passant par la domiciliation et un conseil juridique et fiscal d\'exception. \n')}}

            </h6>
        </div>
        <div class="col-5">
        </div>
    </div>


    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-7">

            <img class="logo-nos-expertises" style="display: block;margin-left: auto;"
                src="{{ url_for('static',filename='images/ancestors.png') }}" alt="blog-img" loading="lazy">
            <h5 class="title-nos-expertises" style="text-align: right;"> {{_('Conseil aux particuliers')}} </h5><br>

            <h6 class="speech-nos-expertises" style="margin-bottom: 10%;">
                <br>
                {{_('Nous pouvons aussi aider les particuliers à gérer leur patrimoine en leur fournissant des \n
                conseils sur la planification fiscale et l\'optimisation de leurs finances personnelles.')}}
                <br><br>
                {{_('Nous pouvons les aider à comprendre leurs obligations fiscales et à préparer leurs \n
                déclarations de revenus de manière efficace.')}}
                <br><br>
                {{_('Nous pouvons également les aider à élaborer des stratégies pour minimiser leurs impôts, \n
                gérer leur épargne et leur retraite, et à prendre des décisions financières optimales.')}}
            </h6>
        </div>
    </div>




</div>


<script>

    document.addEventListener('DOMContentLoaded', function () {

        // Loader des autres pages
        var loaderDiv = document.getElementById('loaderid');
        var foregroundDiv = document.getElementById('foregid');
        // Show the div
        foregroundDiv.style.display = 'block';
        loaderDiv.style.display = 'block';
        // Hide the div after 1 seconds
        setTimeout(function () {
            loaderDiv.style.display = 'none';
            foregroundDiv.style.display = 'none';
        }, 1000);
    });


</script>
{% endblock content %}