{% extends "layout.html" %}
{% block content %}
<div class="header_section">
         <!--banner section start -->
         <div class="banner_section layout_padding">
            <div class="container-fluid">
               <section class="slide-wrapper">
                  <div class="container-fluid">
                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                           <li data-target="#myCarousel" data-slide-to="1"></li>
                           <li data-target="#myCarousel" data-slide-to="2"></li>
                           <li data-target="#myCarousel" data-slide-to="3"></li>
                           <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <div class="container">
                                 <div class="banner_main">
                                    <pre class="banner_taital">Site <br/>  en<br/>construction</pre>
                                    <p class="banner_text">Notre site est actuellement en construction. </p>
                                    <p class="banner_text">Cure your business... ⏳</p>
                                    <!-- <p class="banner_text">A l’instar d’un médecin, MEDEO Partners vous accompagne durant le cycle de vie de votre entreprise : en prenant soin du bien-être et de la croissance de vos projets.</p> -->
                                    <div class="btn_main">
                                       <div class="contact_bt active "><a href="#">Contact</a></div>
                                       <div class="readmore_bt"><a href="#">Read More</a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
      
      {% endblock content %}