

{% extends "layout.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<div class="w-full">
    <div class="container mx-auto py-32">
        <div class="w-full lg:w-2/3 rounded-3xl border mx-auto grid md:grid-cols-2 items-center overflow-hidden">
            <div class="p-16">
                <form class="flex flex-col gap-8 items-center">
                    <h1 class="text-center text-2xl">{{_('Se connecter')}}</h1>
                    <div class="flex gap-4">
                        <a href="#" class="flex flex-col items-center justify-center rounded-2xl border-gray-300 border w-12 h-12 transition-all transform hover:scale-105"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="flex flex-col items-center justify-center rounded-2xl border-gray-300 border w-12 h-12 transition-all transform hover:scale-105"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="flex flex-col items-center justify-center rounded-2xl border-gray-300 border w-12 h-12 transition-all transform hover:scale-105"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="flex flex-col items-center justify-center rounded-2xl border-gray-300 border w-12 h-12 transition-all transform hover:scale-105"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <button class="rounded-2xl bg-primary font-semibold w-full px-4 py-2 text-white" id="register">{{_('Se connecter')}}</button>
                </form>
            </div>
            <div class="p-16 bg-primary md:rounded-l-3xl text-white">
                <div class="flex flex-col gap-8 items-center">
                    <h1 class="text-center text-2xl">{{_('S\'inscrire')}}

                    </h1>
                    <p>{{_('Inscrivez-vous avec vos informations personnelles pour utiliser toutes les fonctionnalités du site')}}</p>
                    <button class="rounded-2xl bg-white font-semibold w-full px-4 py-2 text-primary" id="register">{{_('S\'inscrire')}}</button>
                </div>
            </div>
        </div>

    </div>
</div>

<br><br>


<script>

  document.addEventListener("DOMContentLoaded", function() {

const container = document.getElementById('container');
const registerBtn = document.getElementById('register');
const loginBtn = document.getElementById('login');

registerBtn.addEventListener('click', () => {
    container.classList.add("active");
});

loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
});

  });

</script>


<script>
  $(document).on('click', '#forgot_password_link', function(e) {
    e.preventDefault();
    edit_spouse();
  });

    function edit_spouse() {
    $.ajax({
      type: 'GET',
      url: '<%= reset_password_path %>', // Assurez-vous d'utiliser la méthode "j" pour échapper correctement l'URL
      dataType: 'html',
      success: function(response) {
        displayedit_spouse(response);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.error('Error fetching data:', textStatus, errorThrown, jqXHR.responseText);
      }
    });
  }

    function displayedit_spouse(data) {
    Swal.fire({
      title: 'Forget Password ?',
      html: data,
      showConfirmButton: true,
      showCloseButton: true,
      confirmButtonText: 'Modifier',
      width: '1200px' 
    }).then((result) => {
      if (result.isConfirmed) {
        $('#confirmation-add-form').submit(); 
        
      } else {
        
      }
    });
  }
</script>

{% endblock content %}