{% extends "layout.html" %}
{% block content %}

<div class="bg-image-home"></div>

<!-- Page Content -->
<div id="content">
  <div data-translate class="h-96 animate-top">
    <div class="container mx-auto flex flex-col gap-4 text-center items-center justify-center h-full">
      <h5 class="text-primary font-bold text-xl opacity-75">{{_("Notre expertise")}}</h5>
      <h1 class="text-5xl text-primary font-black">{{_('Expertise comptable')}}</h1>
      <h2 class="italic text-primary opacity-95 font-bold text-2xl">{{_('Medeo, "Cure your business"')}}</h2>
    </div>
  </div>

  <section class="w-full bg-white border-t">
    <div class="container mx-auto py-16 flex flex-col gap-8">

      <div class="flex flex-col gap-8">

        <div class="flex flex-col gap-4 w-1/2">
          <img class="object-contain w-24 h-24" src="{{ url_for('static',filename='images/accounting.webp') }}"
            alt="Expertise-Comptable Commissariat aux comptes">
          <h3 class="text-3xl font-bold text-primary">{{_('Expertise comptable')}}</h3>
          <p class="text-lg text-gray-700">{{_("Nous fournissons des conseils pour aider les entreprises à prendre des décisions financières et fiscales éclairées.")}}
            <br><br>
            {{_("Nous les aidons à établir et à surveiller les systèmes financiers et comptables pour garantir l'exactitude de leurs données.")}}
            <br><br>
            {{_("Nous préparons et examinons les déclarations fiscales pour s'assurer que les entreprises remplissent leurs obligations fiscales.")}}
            <br><br>
            {{_("Nous offrons des conseils stratégiques pour maximiser les opérations commerciales et les stratégies financières des entreprises.")}}
            <br><br>
            {{_("Nous aidons à prévenir les litiges financiers et à les gérer lorsqu'ils se produisent.")}}
          </p>
        </div>

        <div class="ml-auto flex flex-col gap-4 w-1/2">
          <img class="object-contain w-24 h-24" src="{{ url_for('static',filename='images/tax.webp') }}"
            alt="Expertise-Comptable Commissariat aux comptes">
          <h3 class="text-3xl font-bold text-primary">{{_('Fiscalité')}}</h3>
          <p class="text-lg text-gray-700">{{_("Nous accompagnons les entreprises dans la compréhension de leurs obligations fiscales, dans l'élaboration de stratégies visant à optimiser leurs charges fiscales ainsi que dans la préparation et le dépôt de leurs déclarations fiscales et ce, dans le plus strict respect de la législation et des délais imposés.")}}
          </p>
        </div>

        <div class="flex flex-col gap-4 w-1/2">
          <img class="object-contain w-24 h-24" src="{{ url_for('static',filename='images/compliant.webp') }}"
            alt="Expertise-Comptable Commissariat aux comptes">
          <h3 class="text-3xl font-bold text-primary">{{_('Juridique')}}</h3>
          <p class="text-lg text-gray-700">{{_("Nous offrons des conseils juridiques sur les obligations légales des entreprises.")}}
            <br><br>
            {{_("Nous accompagnons également nos clients dans la gestion des litiges afin de protéger leurs intérêts et élaborons des stratégies sur mesure pour réduire les risques juridiques.")}}
          </p>
        </div>

        <div class="ml-auto flex flex-col gap-4 w-1/2">
          <img class="object-contain w-24 h-24" src="{{ url_for('static',filename='images/ux.webp') }}"
            alt="Expertise-Comptable Commissariat aux comptes">
          <h3 class="text-3xl font-bold text-primary">{{_('Social')}}</h3>
          <p class="text-lg text-gray-700">{{_("Notre mission est d'accompagner les entreprises dans la compréhension et la gestion de leurs obligations sociales en veillant à ce qu'elles respectent les réglementations en matière de de sécurité sociale,de gestion de la paie et protection de l'emploi.")}}
          </p>
        </div>

      </div>

      <a href="{{_('nouscontacter')}}" class="mt-8 bg-primary text-white font-bold text-lg py-2 px-4 w-max mx-auto rounded-full">{{_('Contactez-nous')}}</a>

    </div>
  </section>
</div>

{% endblock content %}