{% extends "layout.html" %}
{% block content %}

<div class="loader-container">
  <div id="foregid" class="foreg"></div>
  <span id="loaderid" class="loader"></span>
</div>


<div class="page-heading-cabinet animate-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital">{{_('Expertise comptable')}}</h1>
        <h4 class="medeo-cure-your" style="font-style: italic;">{{_('Medeo, "Cure your business"')}}</h5>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container animate-top">
  <div class="row">
    <div class="col-7" id="id_expertise_comptable">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/accounting.png') }}" alt="blog-img"
        loading="lazy" alt="Expertise-Comptable Commissariat aux comptes">
      <h3 class="title-nos-expertises">{{_('Expertise comptable')}}</h3><br>
      <h5 class="speech-nos-expertises" style="line-height: 30px;">
        {{_('Nous fournissons des conseils pour aider les entreprises à prendre des décisions \n
        financières et fiscales éclairées.')}}
        <br><br>
        {{_('Nous les aidons à établir et à surveiller les systèmes financiers et comptables pour \n
        garantir l\'exactitude de leurs données.')}}
        <br><br>
        {{_('Nous préparons et examinons les déclarations fiscales pour s\'assurer que les \n
        entreprises remplissent leurs obligations fiscales.')}}
        <br><br>
        {{_('Nous offrons des conseils stratégiques pour maximiser les opérations commerciales et les \n
        stratégies financières des entreprises. Nous aidons à prévenir les litiges financiers et à \n
        les gérer lorsqu\'ils se produisent.')}}
        <br><br>
        {{_('Nous aidons à prévenir les litiges financiers et à les gérer lorsqu\'ils se produisent.')}} <br><br>
      </H5>
    </div>
    <div class="col-5">
    </div>
  </div>




  <div class="row">
    <div class="col-5">
    </div>

    <div class="col-7">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/tax.png') }}" alt="blog-img"
        loading="lazy" style="display: block;margin-left: auto;" alt="Expertise-Comptable Commissariat aux comptes">
      <h3 class="title-nos-expertises" style="text-align: right;"> {{_('Fiscalité')}} </h3><br>


      <h5 class="speech-nos-expertises" style="line-height: 30px;">
        {{_('Nous aidons les entreprises à comprendre leurs obligations fiscales, à élaborer des \n
        stratégies fiscales pour minimiser les coûts et à préparer et déposer les déclarations fiscales à temps.')}}
        <br><br>
      </h5>

    </div>
  </div>




  <div class="row">
    <div class="col-7">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/compliant.png') }}" alt="blog-img"
        loading="lazy" alt="Audit financier Optimisation fiscale">
      <h3 class="title-nos-expertises"> {{_('Juridique')}} </h3><br>

      <h5 class="speech-nos-expertises" style="line-height: 30px;">
        {{_('Nous fournissons des conseils juridiques sur les obligations légales des entreprises, aidons \n
        à gérer les litiges et élaborons des stratégies pour minimiser les risques juridiques.')}}
        <br><br>

      </h5>
    </div>
    <div class="col-5">
    </div>
  </div>


  <div class="row">
    <div class="col-5">
    </div>
    <div class="col-7">

      <img class="logo-nos-expertises" style="display: block;margin-left: auto;"
        src="{{ url_for('static',filename='images/group.png') }}" alt="Audit financier Optimisation fiscale" loading="lazy">
      <h3 class="title-nos-expertises" style="text-align: right;"> {{_('Social')}} </h3><br>

      <h6 class="speech-nos-expertises" style="margin-bottom: 10%;line-height: 30px;">
        <br>
        {{_('Nous aidons les entreprises à comprendre et à remplir leurs obligations sociales, telles \n
        que les obligations de sécurité sociale, de paie et de protection de l\'emploi.')}}
        <br><br>
      </H6>
    </div>
  </div>
</div>



<script>

  document.addEventListener('DOMContentLoaded', function () {

    // Loader des autres pages
    var loaderDiv = document.getElementById('loaderid');
    var foregroundDiv = document.getElementById('foregid');
    // Show the div
    foregroundDiv.style.display = 'block';
    loaderDiv.style.display = 'block';
    
    // Hide the div after 1 seconds
    setTimeout(function () {
      loaderDiv.style.display = 'none';
      foregroundDiv.style.display = 'none';
    }, 1000);
  });


</script>
{% endblock content %}