{% extends "layout.html" %} {% block content %}
<link rel="preload" href="{{ url_for('static', filename='images/medeo_logo.webp') }}" as="image">
<link rel="preload" href="{{ url_for('static', filename='images/accounting.webp') }}" as="image">
<link rel="preload" href="{{ url_for('static', filename='images/medeo_talking.webp') }}" as="image">
<link rel="preload" href="{{ url_for('static', filename='images/accounting.webp') }}" as="image">

<div class="bg-image-home"></div>

<div id="content">

    <div id="splash-screen-id" class="hidden">
        <img src="{{url_for('static', filename='images/medeo_logo.webp') }}" alt="Experts en comptabilité chez Medeo Partners" class="image_accueil_loader">
    </div>

    <div class="container ease-in-out transition transition-300 mx-auto grid grid-cols-2 gap-16">
        <div class="pt-12 pb-24 text-center flex flex-col gap-4 items-center">
          <h1 data-translate class="text-2xl text-gray-500 font-extrabold">{{_('Bienvenue chez')}}</h1>
          <h1 data-translate class="text-7xl font-extrabold text-primary mb-2">{{_('Medeo Partners')}}</h1>
          <h4 data-translate class="text-gray-700">
              {{_("Fort de plus 10 ans d\'expertise en comptabilité et fiscalité, nous")}}<br>
              {{_("accompagnons nos clients de tous secteurs dans leurs démarches")}}<br>
              {{_("de création d\'entreprise, de projets, et d\'optimisation fiscale.")}}
          </h4>

          <a class="rounded-full px-4 py-2 font-medium bg-primary text-white font-semibold w-max mt-1" data translate href="{{_('notre_expertise')}}">{{_("Plus d\'informations")}}</a>
        </div>
        <div class="w-full h-96 rounded-2xl overflow-hidden relative">
            <img src="{{ url_for('static',filename='images/medeo_talking.webp') }}" alt="Services de comptabilité" class="object-cover w-full h-full" loading="lazy">
        </div>
    </div>

    <section class="w-full relative">
        <img class="w-full h-full object-cover absolute" src="{{ url_for('static',filename='images/medeo_talking.webp') }}" alt="Experts en comptabilité chez Medeo Partners">
        <div class="bg-gray-800 bg-opacity-90 h-full w-full relative z-10 backdrop-filter backdrop-blur-sm">
            <div class="container mx-auto flex flex-col h-full py-16">
                <h1 class="text-4xl text-white font-extrabold" data-translate>{{_('Notre expertise à votre service')}}</h1>
                <h3 class="text-2xl text-white font-semibold opacity-60 italic" data-translate>{{_('Medeo, "Cure your business"')}}</h3>
                <div class="grid grid-cols-4 mt-8 gap-8 text-center text-white">
                    <div class="flex flex-col items-center gap-4">
                        <img src="{{ url_for('static',filename='images/accounting.webp') }}" alt="Services de comptabilité" width="70" height="70" loading="lazy">
                        <h2 class="text-xl font-bold">{{_('Expertise Comptable')}}</h2>
                        <div class="text-left text-sm font-medium">
                            <h5 class="banner_text"> {{_('Notre équipe dispose d\'une expertise de haut niveau pour vous offrir des \n services de conseil et d\'assistance dans les domaines de la gestion financière, comptable et fiscale.')}}
                            </h5>
                        </div>
                    </div>
        
                    <div class="flex flex-col items-center gap-4">
                        <img src="{{ url_for('static',filename='images/audit.webp') }}" alt="Services d'audit financier" width="70" height="70" loading="lazy">
                        <h2 class="text-xl font-bold">{{_("Audit")}}</h2>
                        <div class="text-left text-sm font-medium">
                            {{_("Notre cabinet comptable est spécialisé dans l\'audit et la certification \n des comptes des entreprises de toutes tailles et de tous secteurs. Nous travaillons \n en étroite collaboration avec nos clients pour assurer la conformité de leurs comptes
                            avec les normes \n comptables et fiscales en vigueur.")}}
                        </div>
                    </div>
        
                    <div class="flex flex-col items-center gap-4">
                        <img src="{{ url_for('static',filename='images/budget.webp') }}" width="70" height="70" loading="lazy" alt="Optimisation fiscale et gestion de budget">
                        <h2 class="text-xl font-bold">{{_('Conseil optimisation ')}}</h2>
                        <div class="text-left text-sm font-medium">
                            {{_("Nos services d\'optimisation d\'entreprise incluent l\'analyse de la \n performance, l\'identification des leviers de croissance, la mise en place de plans d\'action pour \n l\'amélioration de la rentabilité, la gestion de projets de transformation,
                            la gestion du changement, \n l\'optimisation de la chaîne d\'approvisionnement et l\'analyse des coûts.")}}</div>
        
                    </div>
        
                    <div class="flex flex-col items-center gap-4">
                        <img src="{{ url_for('static',filename='images/ux.webp') }}" width="70" height="70" loading="lazy" alt="ux-img">
                        <h2 class="text-xl font-bold"> {{_('Service Informatique')}}</h2>
                        <div class="text-left text-sm font-medium">
                            {{_("Notre département informatique gère tout type de problématiques liés \n aux systèmes d\'information, à la gestion de vos données clients ainsi qu\'à l\'amélioration de vos \n process.")}}
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bg-white w-full flex flex-col py-16 gap-8">
        <h1 class="text-5xl text-primary text-center font-black py-8" data-translate>{{_('Découvrez nos dernières actualités')}}</h1>
        {% include 'carousel_common.html' %}

        <div class="container animate-top">
            <a href="{{_('nouscontacter#nous_ecrire')}}">
                <div class="row">
                    <br>
                    <h1 class="banner_taital">{{_('Travailler avec nous')}}</h1>
                    <br>
                    <div class="cocon effet_ombre">
                        <div class="my_div_aliza col-xs-2 col-sm-3 col-md-6 col-lg-5"> </div>

                        <h2 class="text_bottom_home">{{_('Nous contacter')}}</h2>
                        <span class="fa-stack fa-2x icones_home_rouge_workwithus">
                <i class="fa-solid fa-circle fa-stack-2x" style="color: #e91d2a; margin-right: 30px;"></i>
                <i class="fa-solid fa-phone fa-stack-1x fa-inverse" style="color: white;"></i>
            </span>

                    </div>
                </div>
            </a>

            <a href="{{_('nouscontacter#nous_rejoindre')}}">
                <div class="row">
                    <div class="cocon effet_ombre">
                        <div class="my_div_aliza_two col-xs-2 col-sm-3 col-md-6 col-lg-5">
                        </div>

                        <h2 class="text_bottom_home">{{_('Nous rejoindre')}}</h2>

                        <span class="fa-stack fa-2x icones_home_rouge_workwithus">
                <i class="fa-solid fa-circle fa-stack-2x" style="color: #e91d2a; margin-right: 30px;"></i>
                <i class="fa-solid fa-hand-point-up fa-stack-1x fa-inverse" style="color: white;"></i>
            </span>
                    </div>
                </div>
            </a>


            <a href="{{_('nouscontacter#nos_bureaux')}}">
                <div class="row">
                    <div class="cocon effet_ombre">
                        <div class="my_div_aliza_three col-xs-2 col-sm-3 col-md-6 col-lg-5"></div>


                        <h2 class="text_bottom_home">{{_('Nos bureaux')}}</h2>
                        <span class="fa-stack fa-2x icones_home_rouge_workwithus">
                <i class="fa-solid fa-circle fa-stack-2x" style="color: #e91d2a; margin-right: 30px"></i>
                <i class="fa-solid fa-location-dot fa-stack-1x fa-inverse" style="color: white;"></i>
            </span>



                    </div>
                </div>
            </a>


        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Loader de la homepage
        /* var loaderLogoMedeo = document.getElementById('splash-screen-id');
        loaderLogoMedeo.style.display = 'block';
        document.querySelector('.splash-screen img').classList.add('enlarged');
        setTimeout(function () {
          loaderLogoMedeo.style.display = 'none';
        }, 2500); */



        ////   LIENS DES ENCARTS CLICKABLES
        document.getElementById('prez_expert_comptable').addEventListener('click', function() {
            window.location.href = 'expertise_comptable';
        });

        document.getElementById('prez_audit').addEventListener('click', function() {
            window.location.href = 'audit';
        });

        document.getElementById('prez_conseil_optimisation').addEventListener('click', function() {
            window.location.href = 'conseil_optimisation';
        });

        document.getElementById('prez_service_info').addEventListener('click', function() {
            window.location.href = 'notre_expertise';
        });

    });
</script>


<script>
    $(document).ready(function() {
        var totalSlides = $('input[name="radio-buttons"]').length;
        var currentIndex = 0;

        var autoSlide = setInterval(function() {
            currentIndex = (currentIndex + 1) % totalSlides;
            $('input[name="radio-buttons"]').eq(currentIndex).prop('checked', true);
        }, 8000); // Change slide every 6 seconds

        // Reset the interval on manual click
        $('.carousel-controls label, .carousel-dots label').click(function() {
            clearInterval(autoSlide);
            autoSlide = setInterval(function() {
                currentIndex = (currentIndex + 1) % totalSlides;
                $('input[name="radio-buttons"]').eq(currentIndex).prop('checked', true);
            }, 8000);
        });



        document.querySelectorAll('.readmore_bt').forEach(button => {
            button.addEventListener('click', function(event) {
                event.stopPropagation();
            });
        });


    });
</script>
<style>
    .clickable_encart {
        cursor: pointer;
    }
    
    .carousel-cell {
        width: 66%;
        height: 800px;
        margin-right: 10px;
        position: relative;
        /* background: #8C8; */
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
    /* cell number */
    
    .carousel-cell:before {
        display: block;
        text-align: center;
        /* content: counter(gallery-cell); */
        line-height: 200px;
        font-size: 80px;
        color: white;
    }
    
    .square1,
    .square2 {
        width: 100px;
        height: 100px;
        position: absolute;
    }
    
    .square1 {
        background-color: red;
    }
    
    .square2 {
        background-color: blue;
        left: 10%;
        top: 10%;
    }
</style>



{% endblock content %}