{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col" style="padding-top: 7vw;">
      <h1 class="banner_taital">{{_('Bienvenue chez Medeo Partners')}}</h1>

      <p class="banner_text" style="text-indent: 1px;">
        {{_('Fort de plus 10 ans d\'expertise en comptabilité, et fiscalité, nous')}}<br>
        {{_('accompagnons nos clients de tout secteurs dans leurs démarches')}}<br>
        {{_('de création d\'entreprise, de de projets, et d\'optimisation.')}}<br />
      </p>

      <div class="readmore_bt">
        <a href="{{_('notre_expertise')}}">{{_('Plus d\'informations')}}</a>
      </div>

    </div>
    <div class="col" style="height: 22vw; padding-top: 2vw;">
      <img class="images_cabinet" src="{{ url_for('static',filename='images/medeo_talking.png') }}">
    </div>
  </div>
</div>
 
<div class="container">
  <div class="row">
    <h1 class="banner_taital" style="top: 150px;">{{_('Notre expertise à votre service')}}</h1>
    </br>
    <p class="what_text_1" style="font-style: italic; margin-top: 10vw;">{{_('Medeo , "Cure your business"')}}</p>

  </div>
</div>

<div class="container-fluid ">
  <div class="row justify-content-center" style="margin-top: 5vw">
    <div class="col-2">
      <img src="{{ url_for('static',filename='images/accounting.png') }}"
        style="max-width: 70px; margin-left: 40%;"><br>
      <h2 class="title_expertise">{{_('Expertise <br>Comptable')}}</h2>
      <div class="">`</div>
      <div class="presentation_expertises_home">
        {{_('Notre équipe dispose d\'une expertise de haut niveau pour vous offrir des
        services de conseil et d\'assistance dans les domaines de la gestion financière, comptable et fiscale.')}}
      </div>
    </div>
    <div class="col-2">
      <img src="{{ url_for('static',filename='images/audit.png') }}" style="max-width: 70px; margin-left: 40%;"><br>
      <h2 class="title_expertise">{{_('Audit')}}<br><br></h2>
      <div class="">`</div>
      <div class="presentation_expertises_home">Notre cabinet comptable est spécialisé dans l'audit et la certification
        des comptes des entreprises de toutes tailles et de tous secteurs. Nous travaillons en étroite collaboration
        avec nos clients pour assurer la conformité de leurs comptes avec les normes comptables et fiscales en vigueur.
      </div>
    </div>
    <div class="col-2">
      <img src="{{ url_for('static',filename='images/budget.png') }}" style="max-width: 70px; margin-left: 40%;"><br>
      <h2 class="title_expertise">Conseil <br>optimisation </h2>
      <div class="">`</div>
      <div class="presentation_expertises_home">Nos services d'optimisation d'entreprise incluent l'analyse de la
        performance, l'identification des leviers de croissance, la mise en place de plans d'action pour l'amélioration
        de la rentabilité, la gestion de projets de transformation, la gestion du changement, l'optimisation de la
        chaîne d'approvisionnement et l'analyse des coûts.</div>

    </div>
    <div class="col-2">
      <img src="{{ url_for('static',filename='images/ux.png') }}" style="max-width: 70px; margin-left: 40%;"><br>
      <h2 class="title_expertise"> Service <br>Informatique</h2>
      <div class="">`</div>
      <div class="presentation_expertises_home">Notre département informatique gère tout type de problématiques liés
        aux systèmes d'information, à la gestion de vos données clients ainsi qu'à l'amélioration de vos process.
      </div>

    </div>
  </div>
</div>


<div class="header_section">
  <!--banner section start -->
  <div class="banner_section layout_padding">
    <div class="container-fluid">
      <section class="slide-wrapper">
        <div class="container-fluid">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol><!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active" style="min-height:max-content;">
                <div class="container">
                  <div class="banner_main news_carousel_2">
                    <img class="images_cabinet" src="{{ url_for('static',filename='images/medeo_talking.png') }}"
                      style="width: 40vh;">
                    <h2 style="color: white;">{{_('Fiscal')}}</h2>

                    <div class="carousel_home_txt">
                      Retrouvez les dernières actualités Fiscales

                    </div>

                  </div>

                  <div class="col-size">
                    <h1 class="banner_taital" style="color: #e91d2a;">Fiscal</h1>
                    <p class="title_carousel">
                      Plus que quelques jours pour opter pour le régime de l'auto-entrepreneur en 2024
                    </p>
                    <p class="text-start">
                      Les exploitants individuels soumis au régime micro-BIC ou micro-BNC et relevant du régime micro-social ont la possibilité d'opter pour le régime de l'auto-entrepreneur prévu à l'article 151-0 du CGI, sous réserve que le montant des revenus nets du foyer fiscal soit inférieur ou égal, pour une part de quotient familial, à 27 478 €. Les exploitants qui optent pour le régime de l'auto-entrepreneur s'acquittent auprès d'un seul interlocuteur de l'impôt sur le revenu et de l'ensemble des cotisations et contributions de sécurité sociale par des versements libératoires mensuels ou trimestriels égaux à un pourcentage du chiffre d'affaires ou des recettes réalisés au cours de la période considérée.

                      Pour l'imposition des revenus perçus en 2024, l'option pour le régime de l'auto-entrepreneur doit être exercée au plus tard le 30 septembre 2023 auprès des organismes sociaux compétents.
                      
                      A noter :
                      En cas de création d'entreprise, l'option pour le régime de l'auto-entrepreneur doit être exercée au plus tard le dernier jour du troisième mois qui suit celui de la création de l'entreprise et peut être formulée auprès du guichet unique électronique des formalités d'entreprises.                    </p>

                      © Editions Francis Lefebvre - La Quotidienne
                    <div class="readmore_bt">
                      <a href="/expertise_comptable">{{_('En savoir plus')}}</a>
                    </div>
                  </div>
                </div>

              </div>

              <div class="carousel-item" style="min-height:max-content;">
                <div class="container">
                  <div class="banner_main news_carousel_2">
                    <img class="images_cabinet" src="{{ url_for('static',filename='images/medeo_talking.png') }}"
                      style="width: 40vh;">
                    <h2 style="color: white;">{{_('Juridique')}}</h2>
                    <div class="carousel_home_txt">{{_('À l\'instar d\'un médecin, MEDEO Partners vous accompagne
                      durant le
                      cycle de vie de votre entreprise : en prenant soin du bien-être et de la croissance de vos
                      projets.')}}</div>

                  </div>
                  <div class="col-size">
                    <h1 class="banner_taital" style="color: #e91d2a;">Actualités</h1>
                    <p class="title_carousel">
                      Lorem consipsum<br>
                      dolor sit gffamet,<br>
                      consectetur adipis<br>
                      cing elit,</p>
                    <p class="text-start">
                      {{_('incididunt utquis nostrud')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                    </p>


                    <div class="readmore_bt">
                      <a href="/expertise_comptable">{{_('Plus d\'informations')}}</a>
                    </div>
                  </div>
                 
                </div>
              </div>
              <div class="carousel-item" style="min-height:max-content;">
                <div class="container">

                  <div class="banner_main news_carousel_2">
                    <img class="images_cabinet" src="{{ url_for('static',filename='images/medeo_talking.png') }}"
                      style="width: 40vh;">

                    <h2 style="color: white;">{{_('Social')}}</h2>
                    <div class="carousel_home_txt">{{_('À l\'instar d\'un médecin, MEDEO Partners vous accompagne
                      durant le
                      cycle de vie de votre entreprise : en prenant soin du bien-être et de la croissance de vos
                      projets.')}}</div><br>
                  </div>

                  <div class="col-size">
                    <h1 class="banner_taital" style="color: #e91d2a;">Actualités</h1>
                    <p class="title_carousel">
                      Lorem consipsum<br>
                      dolor sit gffamet,<br>
                      consectetur adipis<br>
                      cing elit,</p>
                    <p class="text-start">
                      {{_('incididunt utquis nostrud')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                      {{_('ullamco laborisDJFNRGTORIE ZKOijfvn edooepcdoij rife')}}
                    </p>

                    <div class="readmore_bt">
                      <a href="/expertise_comptable">{{_('Plus d\'informations')}}</a>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!--banner section end -->
</div><!--about section start -->


<div class="container">
  <a href="{{_('nouscontacter')}}">
    <div class="row">
      <br>
      <h1 class="banner_taital">{{_('Travailler avec nous')}}</h1>
      <br>
      <div class="cocon effet_ombre">
        <div class="my_div_aliza"> </div>
  
        <h2 class="text_bottom_home">Nous contacter</h2>
        <span class="fa-stack fa-2x" style="margin-top: inherit; margin-right: 3%;">
          <i class="fa-solid fa-circle fa-stack-2x" style="color: #e91d2a; margin-right: 30px;"></i>
          <i class="fa-solid fa-phone fa-stack-1x fa-inverse" style="color: white;"></i>
        </span>
  
      </div>
    </div>
  </a>

  <a href="{{_('nouscontacter#nous_rejoindre')}}">
    <div class="row">
      <div class="cocon effet_ombre">
        <div class="my_div_aliza_two">
        </div>
  
        <h2 class="text_bottom_home">Nous rejoindre</h2>
  
        <span class="fa-stack fa-2x" style="margin-top: inherit; margin-right: 3%;">
          <i class="fa-solid fa-circle fa-stack-2x" style="color: #e91d2a;"></i>
          <i class="fa-solid fa-hand-point-up fa-stack-1x fa-inverse" style="color: white;"></i>
        </span>
      </div>
    </div>
  </a>


  <a href="{{_('nouscontacter#nos_bureaux')}}">
    <div class="row" style="margin-bottom: 90px;">
      <div class="cocon effet_ombre">
        <div class="my_div_aliza_tree"></div>
  
  
        <h2 class="text_bottom_home">Nos bureaux</h2>
        <span class="fa-stack fa-2x" style="margin-top: inherit; margin-right: 3%;">
          <i class="fa-solid fa-circle fa-stack-2x" style="color: #e91d2a;"></i>
          <i class="fa-solid fa-location-dot fa-stack-1x fa-inverse" style="color: white;"></i>
        </span>
  
  
  
      </div>
    </div>
  </a>


</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
     var lienScroll_nos_bureaux = document.querySelector('a[href="#nos_bureaux"]');
     var lienScroll_nous_rejoindre = document.querySelector('a[href="#nos_bureaux"]');
     
     lienScroll_nos_bureaux.addEventListener("click", function(e) {
        e.preventDefault(); // Empêche le comportement par défaut du lien
  
        var divCible = document.querySelector('#nos_bureaux');
        
        if (divCible) {
           divCible.scrollIntoView({ behavior: 'smooth' }); // Fait défiler jusqu'à la div cible de manière fluide
        }
     });


     lienScroll_nous_rejoindre.addEventListener("click", function(e) {
        e.preventDefault(); // Empêche le comportement par défaut du lien
  
        var divCible = document.querySelector('#nous_rejoindre');
        
        if (divCible) {
           divCible.scrollIntoView({ behavior: 'smooth' }); // Fait défiler jusqu'à la div cible de manière fluide
        }
     });

  });
  </script>
  Avec ce code en place, lorsque vous cliquez sur le lien, la page défilera automatiquement jusqu'à la div spécifique, offrant une expérience de défilement fluide pour les utilisateurs.
  
  
  
  
  
  
{% endblock content %}