<!DOCTYPE html>
<html>

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      
   <!-- style css -->
   
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- Responsive-->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
   
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
   <!-- owl stylesheets --> 
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

   <!-- Favicon -->
   <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='/images/favicon_io/apple-touch-icon.png')}}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='/images/favicon_io/favicon-32x32.png')}}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='/images/favicon_io/favicon-16x16.png')}}">
   <link rel="manifest" href="{{url_for('static', filename='/images/favicon_io/site.webmanifest')}}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   {% if title %}
   <title>Medeo Partners - {{ title }}</title>
   {% else %}
   <title>Medeo Partners</title>
   {% endif %}
</head>

<body>
   
<header class="site-header">






<img class="bg-img" src="{{ url_for('static',filename='images/service/image-background.png') }}" alt="Bg image">


<nav class="navbar navbar-expand-md navbar-light bg-light ">
   <div class="container-fluid">
      <a class="navbar-brand" href="{{_('accueil')}}">
         <img src="/static/medeo_images/Medeo_partners_couleur.png" >
      </a>





      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav">
         <!-- <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Features</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Pricing</a>
         </li> -->

         <li class="nav-item">
            <a class="nav-link" href="#">
               <div class="sous-titre">
               Votre cabinet
               </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
               <div class="sous-titre">
               Notre expertise
               </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
               <div class="sous-titre">
               Actualités
               </div>
            </a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="#">
               <div class="sous-titre">
               Nous contacter
               </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
               <div class="sous-titre">
               Espace client
               </div>
            </a>
          </li> 
          
       </ul>
       <ul>
      
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>
            </li>
         </ul>     
      </div>
    </div>
   
</nav>


<!-- 
<nav class="navbar navbar-expand-md bg-light">
   <div class="container-fluid">
       <a class="navbar-brand" href="#">
           <img src="..." alt="">
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="#">Home</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">Link</a>
               </li>
               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Dropdown
                   </a>
                   <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Action</a></li>
                       <li><a class="dropdown-item" href="#">Another action</a></li>
                       <li>
                           <hr class="dropdown-divider">
                       </li>
                       <li><a class="dropdown-item" href="#">Something else here</a></li>
                   </ul>
               </li>
               <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Dropdown
                   </a>
                   <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Action</a></li>
                       <li><a class="dropdown-item" href="#">Another action</a></li>
                       <li>
                           <hr class="dropdown-divider">
                       </li>
                       <li><a class="dropdown-item" href="#">Something else here</a></li>
                   </ul>
               </li>
               <li class="nav-item">
                   <a class="nav-link">Another Link</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link">Another Link</a>
               </li>
           </ul>
           <div class="search-and-icons">
               <form class="d-flex mb-2 me-4" role="search">
                   <input class="form-control me-2" type="search" aria-label="Search">
               </form>
               <div class="user-icons d-flex mb-2">
                   <div class="account"><i class="bi bi-person"></i></div>
                   <div class="wishlist"><i class="bi bi-heart"></i></div>
                   <div class="cart"><i class="bi bi-cart3"></i></div>
                 </div>
           </div>
           <div class="contact-info">
               <p>+9876543210 | +1234567890</p>
               <p><a href="mailto:">contact@domainname.com</a></p>
           </div>
       </div>
   </div>
</nav> -->



</header>
<main role="main" class="container pt-130">
   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category, message in messages %}
   <div class="alert alert-{{ category }}">
      {{ message }}
   </div>
   {% endfor %}
   {% endif %}
   {% endwith %}
</main>


{% block content %}{% endblock %}

        <!-- footer section start -->
        <div class="footer_section">
         <div class="container_footer">
            <div class="footer_section_2">
              
              
               <div class="row">
                  <div class="col">
                     <h2 class="footer_taital">À propos</h2>
                     <a class="footer_text" href="{{_('cabinet_associes')}}">{{_('Le Cabinet')}}</a>
                     <a class="footer_text" href="{{_('nouscontacter')}}">{{_('Expert-Comptable')}}</a>
                     <a class="footer_text" href="{{_('nouscontacter')}}">{{_('Commissariat aux comptes')}}</a>

                  </div>
                  <div class="col">
                     <h2 class="footer_taital">{{_('Adresse')}}</h2>
                     <p class="location_text">
                        <img src="{{url_for('static', filename='images/map-icon.png') }}"><span class="padding_left_10"><a href="https://www.google.com/maps/search/?api=1&query=1831+2nd+St+NE+1831+2nd+Washington+DC">42 rue de l'Amiral Hamelin 75116 Paris</a></span></br>
                        <img src="{{url_for('static', filename='images/call-icon.png') }}"><span class="padding_left_10"><a href="#">01 83 64 16 04</a></span></br>            
                        <img src="{{url_for('static', filename='images/mail-icon.png') }}"><span class="padding_left_10"><a href="mailto:contact@medeo-partners.com">contact@medeo-partners.com</a></span></br>
                     </p>
                  </div>

                  <div class="col col_footer">
                     <h2 class="footer_taital">{{_('Nous contacter')}}</h2>
                     <a class="footer_text" href="{{_('nouscontacter')}}">{{_('Contact')}}</a>
                     <a class="footer_text" href="{{_('cabinet_associes')}}">{{_('L\'équipe')}}</a>

                  </div>
                  <div class="col">
                     <img src="{{url_for('static', filename='medeo_images/Medeo_partners_blc.png') }}" style="max-width:60%;"><span class="padding_left_10"></span><br/>
                  </div>
                  <div class="col">
                     <div class="crcc-logo"><a href="https://www.crcc-paris.fr/" target="_blank"><img src="{{url_for('static', filename='images/logo-crcc-black.png')}}"></a></div><br/>
                     <br/>
                     <div class="oec-logo"><a href="https://www.oec-paris.fr/" target="_blank"><img src="{{url_for('static', filename='images/oec.png')}}"></a></div><br/>
                  </div>
                  
               </div>

            </div>
         </div>

      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
            <p class="copyright_text">MEDEO Partners Copyright 2023© - Tous droits réservés | <a href="legal">Mentions légales</a> </p>
            </div>
            
         </div>
      </div>
   </div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{url_for('static', filename='js/dropdown.js') }}"></script>
<script src="{{url_for('static', filename='js/popper.min.js') }}"></script>
<!-- <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
<script src="{{url_for('static', filename='js/plugin.js') }}"></script>
<!-- sidebar -->
<script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{url_for('static', filename='js/custom.js') }}"></script>
<!-- javascript -->
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

   <script>
      document.addEventListener('DOMContentLoaded', function() {
         var loaderDiv = document.getElementById('loaderid');
         var foregroundDiv = document.getElementById('foregid');
         // Show the div
         foregroundDiv.style.display = 'block';
         loaderDiv.style.display = 'block';
         // Hide the div after 5 seconds
         setTimeout(function() {
            loaderDiv.style.display = 'none';
            foregroundDiv.style.display = 'none';
            }, 1000);
    });

      $(document).ready(function() {
         $(".sousmenu-auditconseil").hide();
         $(".sousmenu-fiscajuridique").hide();
         $(".sousmenu-finance").hide();
         
         $(".dropdown-toggle").on("click", function() {
            $(".sousmenu-auditconseil").hide();
            $(".sousmenu-fiscajuridique").hide();
            $(".sousmenu-finance").hide(); 
         });

         $(".auditconseil").on("mouseenter", function() {
            $(".sousmenu-auditconseil").show();
            $(".sousmenu-fiscajuridique").hide();
            $(".sousmenu-finance").hide();

         });
         
         $(".fiscajuridique").on("mouseenter", function() {
            $(".sousmenu-fiscajuridique").show();
            $(".sousmenu-auditconseil").hide();
            $(".sousmenu-finance").hide();

         });

         $(".finance").on("mouseenter", function() {
            $(".sousmenu-finance").show();
            $(".sousmenu-fiscajuridique").hide();
            $(".sousmenu-auditconseil").hide();

         });

         
         

         console.log('kkk')
      });
   </script>
</body>

</html>