<!DOCTYPE html>
<html>

<head>

   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-XNNEV4QVDK"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'G-XNNEV4QVDK');
   </script>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1"> 
   <meta name="robots" content="index,follow">
   <!-- image -->
   <meta property="og:image" content="/static/medeo_images/Medeo_partners_couleur.png">
   <!-- author -->
   <meta name="author" content="Bamana-Solutions">
  
   <!-- site metas -->
   <meta name="keywords" content="Comptabilité et gestion d'entreprise, medeo partners, medeo, fiscalité, entreprise, expertise comptabilité, expert comptable, compagnie nationale des commissaires au comptes, ordre des experts-comptables">
   <meta name="description" content="Avec plus de 10 ans d'expertise en comptabilité et en fiscalité, nous soutenons nos clients de tous secteurs dans la création d'entreprise, les projets et les processus d'optimisation.">
   

   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

   <!-- style css -->

   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- Responsive-->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">

   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
   <!-- owl stylesheets -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">

   <!-- Favicon -->
   <link rel="apple-touch-icon" sizes="180x180"
      href="{{url_for('static', filename='/images/favicon_io/apple-touch-icon.png')}}">
   <link rel="icon" type="image/png" sizes="32x32"
      href="{{url_for('static', filename='/images/favicon_io/favicon-32x32.png')}}">
   <link rel="icon" type="image/png" sizes="16x16"
      href="{{url_for('static', filename='/images/favicon_io/favicon-16x16.png')}}">
   <link rel="manifest" href="{{url_for('static', filename='/images/favicon_io/site.webmanifest')}}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <script src="{{url_for('static', filename='/js/Isotope/isotope.min.js')}}"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>

   
   {% if title %}
   <title>Medeo Partners - {{ title }}</title>
   {% else %}
   <title>Medeo Partners</title>
   {% endif %}
</head>

<body>

   <header class="site-header">
      <div class="bg-img2"></div>
      <!-- <div class="imaag"></div> -->


      <nav class="navbar navbar-expand-md navbar-light bg-light ">
         <div class="container-fluid">
            <a class="navbar-brand" href="{{_('accueil')}}">
               <img src="/static/medeo_images/Medeo_partners_couleur.png" loading="lazy">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
               aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav">

                  <li class="nav-item">
                     <a class="nav-link" href="{{_('votre_cabinet')}}">
                        <div class="sous-titre">
                           {{_('Votre cabinet')}}
                        </div>
                     </a>
                  </li>


                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_dos" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <div class="sous-titre">
                           {{_('Notre expertises')}}
                           <span class="dropdown-arrow">&#9662;</span>
                        </div>
                     </a>
                     <ul class="dropdown-menu dropdd" aria-labelledby="navbarDropdown_dos">
                        
                        <li>
                           <a class="dropdown-item menuderoulant" href="{{_('notre_expertise')}}">{{_('Notre expertises')}}</a>
                        </li>                        
                        <div class="dropdown-divider"></div>

                        <li>
                           <a class="dropdown-item menuderoulant" href="{{_('expertise_comptable')}}">{{_('Expertise-Comptable')}}</a>
                        </li>
                        <li>
                           <a class="dropdown-item menuderoulant" href="{{_('audit')}}">{{_('Audit')}}</a>
                        </li>
                        <li>
                           <a class="dropdown-item menuderoulant" href="{{_('conseil_optimisation')}}">{{_('Conseil-Optimisation')}}</a>
                        </li>
                     </ul>
                  </li>
                  


                  <li class="nav-item">
                     <a class="nav-link disabled" href="{{_('actualites')}}">
                        <div class="sous-titre" style="color: gray;">
                           {{_('Actualités')}}
                        </div>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{_('nouscontacter')}}">
                        <div class="sous-titre">
                           {{_('Nous contacter')}}
                        </div>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link disabled" href="{{_('espace_client')}}">
                        <div class="sous-titre" style="color: gray;">
                           {{_('Espace client')}}
                        </div>
                     </a>
                  </li>

               </ul>
               <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row">
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                        <div class="nav_icone">
                           <a href="https://instagram.com/medeo_partners">
                              <i class="fa-brands fa-instagram fa-xl"></i>
                           </a>
                        </div>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                        <div class="nav_icone">
                           <a href="https://www.linkedin.com/company/medeo-partners">
                              <i class="fa-brands fa-linkedin fa-xl"></i>
                           </a>
                        </div>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">
                        <div class="nav_icone">
                           <a href="https://wa.me/33669066804">
                              <i class="fa-brands fa-whatsapp fa-xl"></i>
                           </a>
                        </div>
                     </a>
                  </li>
                  



                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for(request.endpoint, lang_code='en') }}">
                           
                           <img class="icones_langues" src="{{url_for('static',filename='flags/usa.png') }}" loading="lazy">
                     </a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for(request.endpoint, lang_code='fr') }}">
                           
                           <img class="icones_langues" src="{{url_for('static',filename='flags/france.png') }}" loading="lazy">     
                     </a>
                  </li>
             
<!-- 

                     
                     <li class="nav-item dropdown">
                        <a class="nav-link linko dropdown-toggle" id="navbarDropdown_langue" role="button" href="#"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if g.lang_code == 'fr' %}
                            <img class="nav_icone" src="{{ url_for('static', filename='images/fr-flag.png') }}"
                                alt="Français">
                            {% elif g.lang_code == 'en' %}
                            <img  class="nav_icone" src="{{ url_for('static', filename='images/us-flag.png') }}"
                                alt="English">
                            {% endif %}
                        </a>
                        <ul>
                         <div class="dropdown-menu dropdd">
                            <a class="dropdown-menu dropdd"
                                href="{{ url_for(request.endpoint, lang_code='fr') }}">
                                <img src="{{ url_for('static', filename='images/fr-flag.png') }}"
                                    alt="Français">
                            </a>
                           <div class="menuderoulant">
                            <a class="dropdown-menu dropdd"
                                href="{{ url_for(request.endpoint, lang_code='en') }}">
                                <img src="{{ url_for('static', filename='images/us-flag.png') }}"
                                    alt="English">
                            </a>
                         </div>
                        </ul>
                    </li>
               </ul> -->
            </div>
         </div>

      </nav>

   </header>



   <main role="main" class="container pt-130">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
         {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
   </main>

   <div class="loader-container">
      <div id="foregid" class="foreg"></div>
      <span id="loaderid" class="loader"></span>
   </div>
   {% block content %}{% endblock %}



   <!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script type="text/javascript" src="{{url_for('static', filename='calendly/widget.js') }}" ></script>
<script type="text/javascript">window.onload = function () { Calendly.initBadgeWidget({ url: 'https://calendly.com/medeo-partners/30min', text: '<div class="btn_calendly">Prendre RDV', color: '#114a69', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->



   <!-- footer section start -->
   <div class="footer_section">
      <div class="container_footer">
         <div class="footer_section_2">
            <div class="row">
               <div class="col">
                  <h2 class="footer_taital">{{_('À propos')}}</h2>
                  <a class="footer_text" href="{{_('votre_cabinet')}}">{{_('Le Cabinet')}}</a>
                  <a class="footer_text" href="{{_('nouscontacter')}}">{{_('Expert-Comptable')}}</a>
                  <a class="footer_text" href="{{_('nouscontacter')}}">{{_('Commissariat aux comptes')}}</a>
               </div>
               <div class="col">
                  <h2 class="footer_taital">{{_('Adresse')}}</h2>
                  <p class="location_text">
                     <img src="{{url_for('static', filename='images/map-icon.png') }}" loading="lazy"><span class="padding_left_10"><a
                           href="https://www.google.com/maps/search/?api=1&query=1831+2nd+St+NE+1831+2nd+Washington+DC">97
                           Bd Malesherbes <br> 75008 Paris </a></span></br>
                     <img src="{{url_for('static', filename='images/call-icon.png') }}" loading="lazy"><span class="padding_left_10"><a
                           href="#">01 83 64 16 04</a></span></br>
                     <img src="{{url_for('static', filename='images/mail-icon.png') }}" loading="lazy"><span class="padding_left_10"><a
                           href="mailto:contact@medeo-partners.com">contact@medeo-partners.com</a></span></br>
                  </p>
               </div>

               <div class="col col_footer">
                  <h2 class="footer_taital">{{_('Nous contacter')}}</h2>
                  <a class="footer_text" href="{{_('nouscontacter')}}">{{_('Contact')}}</a>
                  <a class="footer_text" href="{{_('votre_cabinet')}}">{{_('L\'équipe')}}</a>

               </div>
               <div class="col">
                  <img src="{{url_for('static', filename='medeo_images/Medeo_partners_blc.png') }}"
                     style="max-width:60%;" loading="lazy"><span class="padding_left_10"></span><br />
               </div>
               <div class="col">
                  <div class="crcc-logo"><a href="https://www.crcc-paris.fr/" target="_blank"><img
                           src="{{url_for('static', filename='images/logo-crcc-black.png')}}" loading="lazy"></a></div><br />
                  <br />
                  <div class="oec-logo"><a href="https://www.oec-paris.fr/" target="_blank"><img
                           src="{{url_for('static', filename='images/oec.png')}}" loading="lazy"></a></div><br />
               </div>
            </div>
         </div>
      </div>

      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <p class="copyright_text">{{_('MEDEO Partners Copyright 2023© - Tous droits réservés | ')}}<a
                     href="{{_('legal')}}">{{_('Mentions légales')}}</a> </p>
            </div>

         </div>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
   <script src="{{url_for('static', filename='js/dropdown.js') }}"></script>
   <script src="{{url_for('static', filename='js/popper.min.js') }}"></script>
   <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
   <script src="{{url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
   <script src="{{url_for('static', filename='js/plugin.js') }}"></script>
   <!-- sidebar -->
   <script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
   <!-- javascript -->

   <script>
      document.addEventListener('DOMContentLoaded', function () {
         var loaderDiv = document.getElementById('loaderid');
         var foregroundDiv = document.getElementById('foregid');
         // Show the div
         foregroundDiv.style.display = 'block';
         loaderDiv.style.display = 'block';
         // Hide the div after 1 seconds
         setTimeout(function () {
            loaderDiv.style.display = 'none';
            foregroundDiv.style.display = 'none';
         }, 1000);
      });


      // Fonction pour ajuster la hauteur du contenu principal
      function adjustMainContentHeight() {
         var windowHeight = window.innerHeight;
         var bgImageHeight = document.querySelector('.bg-img2').clientHeight;
         var mainContent = document.querySelector('main');

         // Calculer la hauteur du contenu principal
         var mainContentHeight = windowHeight - bgImageHeight;

         // Ajuster la hauteur du contenu principal
         mainContent.style.minHeight = mainContentHeight + 'px';
      }

      // Appeler la fonction au chargement de la page et lors du redimensionnement de la fenêtre
      window.addEventListener('load', adjustMainContentHeight);
      window.addEventListener('resize', adjustMainContentHeight);







   </script>
</body>

</html>