{% extends "layout.html" %}
{% block content %}

<div class="bg-image-home"></div>

<!-- Page Content -->
<div id="content">
  <div data-translate class="h-96 animate-top animate-fade-in-up">
    <div class="container mx-auto flex flex-col gap-4 text-center items-center justify-center h-full">
      <h1 class="text-5xl text-primary font-black">{{_('Notre expertise')}}</h1>
      <h2 class="italic text-primary opacity-95 font-bold text-2xl">{{_('Medeo, "Cure your business"')}}</h2>
    </div>
  </div>

  <section class="w-full bg-white border-t animate-fade-in-up">
    <div class="container mx-auto grid md:grid-cols-2 gap-8 py-24 justify-center">

      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl transition transform hover:scale-105">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/accounting.webp') }}" alt="Comptabilité"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_('Expertise comptable')}} </h1>
        <p>
          {{_("Nous fournissons des conseils pour aider les entreprises à prendre des décisions financières\n
          et fiscales éclairées.\n
          <br><br>\n
          Nous les aidons à établir et à surveiller les systèmes financiers et comptables pour garantir \n
          l\'exactitude de leurs données.\n
          <br><br>\n
          Nous préparons et examinons les déclarations fiscales pour s\'assurer que les entreprises remplissent leurs \n
          obligations fiscales.\n
          <br><br>\n
          Nous offrons des conseils stratégiques pour maximiser les opérations commerciales et les stratégies \n
          financières des entreprises.
          <br><br>\n
          Nous aidons à prévenir les litiges financiers et à les gérer lorsqu\'ils se produisent")}}
        </p>
        <a href="{{_('expertise_comptable')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>



      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl transition transform hover:scale-105">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/audit.webp') }}" alt="Audit"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_('Audit')}}</h1>
        <p>
          {{_("Nous réalisons un examen indépendant, systématique et méthodique des états financiers de nos clients en tant qu'auditeurs qualifiés conformément aux normes d'audit.\n
          <br><br>\n
          L\'objectif de notre audit contractuel est d'émettre une opinion sur la fiabilité des états financiers et leur conformité avec les principes comptables officiellement en vigueur.\n
          <br><br>\n
          Notre mission consiste également à détecter les erreurs, omissions et irrégularités financières afin de garantir l'exactitude des informations dans un soucis de transparence ce qui permet, de renforcer la confiance des parties prenantes et d'assurer la conformité avec la réglementation.")}}
        </p>

        <a href="{{_('audit')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>



      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl transition transform hover:scale-105">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/budget.webp') }}" alt="Optimisation Fiscale"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_("Conseil d\'optimisation")}}</h1>
        <p>
          {{_("Notre mission est d\'offrir un service de conseil qui accompagne les entreprises dans la prise de décisions éclairées afin de les aider à atteindre leurs objectifs commerciaux et financiers.\n
          <br><br>\n
          Nous intervenons dans des domaines clés et offrons une expertise complète dans des domaines essentiels qui sont notamment : l\'élaboration de stratégies financières, l'optimisation des opérations commerciales, la gestion efficace de la trésorerie, la planification fiscale stratégique et la gestion des opérations à l\'international. Ces services permettent aux entreprises de renforcer leur compétitivité, de maximiser leur rentabilité et de se conformer aux régulations fiscales et commerciales spécifiques à chaque marché.\n
          <br><br>\n
          Nous assistons également les entreprises dans la gestion des risques financiers, dans l'identification des opportunités d\'investissement, ainsi que dans la gestion des relations avec les actionnaires et les parties prenantes.")}}
        </p>
        <a href="{{_('conseil_optimisation')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>


      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl transition transform hover:scale-105">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/ux.webp') }}" alt="Cabinet comptable digital"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_('Conseil informatique')}}</h1>
        <p>
          {{_("Notre département informatique prend en charge l'ensemble des problématiques liées aux systèmes d'information, à la gestion des données clients, ainsi qu'à l'optimisation de vos processus internes.\n
          <br><br>\n
          Nous proposons un service complet incluant la mise en place et la gestion de systèmes comptables et financiers, de solutions de gestion de la paie, ainsi que de systèmes de suivi des stocks et de facturation. Nous offrons également des conseils sur les logiciels et technologies les mieux adaptés aux besoins spécifiques de chaque entreprise.\n
          <br><br>\n
          En outre, nous aidons les entreprises à renforcer la sécurité de leurs données afin de garantir la protection des informations sensibles liées à leur activité.")}}
        </p>
        <a href="#" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>

    </div>
  </section>


  {# Témoignages #}
  <section class="w-full bg-gray-50">
    <div class="container mx-auto flex flex-col gap-8 py-24 justify-center">
      <h2 class="font-bold text-5xl text-primary">{{_('Témoignages')}}</h2>
      <h3 class="font-bold text-2xl text-gray-500">{{_('Ils nous ont fait confiance...')}}</h3>
      <div class="grid md:grid-cols-2 gap-8">

        <div class="bg-white rounded-2xl shadow-lg p-8 transition transform hover:scale-105">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/fintis_logo.webp') }}" alt="Fintis"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de conseil en investissement')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("MEDEO est un partenaire efficace, à l\'écoute et soucieux de nos besoins très souvent changeants")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8 transition transform hover:scale-105">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/energy_consulting_logo.webp') }}" alt="Energy Consulting"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de consulting en ingénierie')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Avec Medeo, nous avons trouvé un allié de confiance. Leur équipe dévouée et réactive comprend nos enjeux et apporte constamment des réponses pertinentes à nos problématiques comptables.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8 transition transform hover:scale-105">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/empruntis_logo.webp') }}" alt="Empruntis"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Courtier immobilier')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Nous sommes fiers de notre partenariat avec MEDEO. Une entente joviale, une rigueur à tous les étages et surtout une capacité à dépasser nos attentes en termes de qualité de service.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8 transition transform hover:scale-105">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/bamana_solutions_logo.webp') }}" alt="Bamana Solutions"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de conseil en numérique et transformation digitale')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Les compétences et l\'expertise d\'Avi et Israel nous ont beaucoup aidé dans la création de notre\n
              entreprise.")}}
            {{_("La réactivité et la disponibilité des associés sont très appréciables durant une phase aussi\n
            dense et stressante que la création d\'une entreprise.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8 transition transform hover:scale-105">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/DMC_logo.webp') }}" alt="Agence DMC"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Agence DMC')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("L\'expertise de Medeo est incontestable. Ils font preuve \'une grande écoute et d\'une réelle \n
            capacité à anticiper nos besoins. Leur accompagnement personnalisé est un atout majeur pour notre\n
            entreprise.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8 transition transform hover:scale-105">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/rc_consulting.webp') }}" alt="Cabinet de conseil en investissements financiers"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de conseil en investissements financiers')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Medeo se distingue par son professionnalisme exceptionnel. Toujours prêt à s\'adapter, ce cabinet\n
            offre des solutions sur mesure qui répondent parfaitement à l\'évolution de nos exigences.")}}
          </p>
        </div>

      </div>
    </div>
  </section>


  {# Nos partenaires #}
  <section class="w-full bg-primary text-white">
    <div class="container mx-auto flex flex-col mb-8 py-24 justify-center">
      <h2 class="font-bold text-5xl">{{_('Partenaires')}}</h2>
    </div>
    {% include "carousels/carousel_partners.html" %}
  </section>
</div>

{% endblock content %}