{% extends "layout.html" %}
{% block content %}
<div class="loader-container">
  <div id="foregid" class="foreg" style="display:block"></div>
  <span id="loaderid" class="loader" style="display:block"></span>
</div>


<!-- Page Content -->
<div class="page-heading-cabinet animate-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital">{{_('Notre expertise')}}</h1>

        <h4 class="medeo-cure-your" style="font-style: italic;">{{_('Medeo, "Cure your business"')}}</h4>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container animate-top">
  <div class="row">
    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/accounting.webp') }}" alt="Comptabilité"
        loading="lazy">
      <h1 class="title-nos-expertises">{{_('Expertise comptable')}} </h1><br>
      <p class="speech-nos-expertises">
        {{_('Nous fournissons des conseils pour aider les entreprises à prendre des décisions financières\n
        et fiscales éclairées.\n
        <br><br>\n
        Nous les aidons à établir et à surveiller les systèmes financiers et comptables pour garantir \n
        l\'exactitude de leurs données.\n
        <br><br>\n
        Nous préparons et examinons les déclarations fiscales pour s\'assurer que les entreprises remplissent leurs \n
        obligations fiscales.\n
        <br><br>\n
        Nous offrons des conseils stratégiques pour maximiser les opérations commerciales et les stratégies \n
        financières des entreprises. Nous aidons à prévenir les litiges financiers et à les gérer lorsqu\'ils\n
        se produisent.\n
        <br><br>\n
        Nous aidons à prévenir les litiges financiers et à les gérer lorsqu\'ils se produisent')}}
        <br><br>
      </p>

      <div class="ensavoir_plus_bt">
        <a href="{{_('expertise_comptable')}}">{{_('En savoir plus')}}</a>
      </div>
    </div>
    <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
    </div>
  </div>




  <div class="row">
    <div class="col-5">
    </div>

    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/audit.webp') }}" alt="Audit"
        loading="lazy" style="display: block;margin-left: auto;">
      <h3 class="title-nos-expertises" style="text-align: right;"> {{_('Audit')}} </h3><br>


      <p class="speech-nos-expertises">
        {{_('Nous effectuons un examen indépendant et systématique des états financiers de nos clients en tant\n
        qu\'auditeurs\n
        qualifiés, en conformité avec les normes d\'audit.\n
        <br><br>\n
        Le but de notre audit contractuel est de fournir une opinion sur la fiabilité et la conformité des états\n
        financiers avec les principes comptables officiels.\n
        <br><br>\n
        Il permet également de détecter les erreurs, les omissions et les irrégularités financières.')}}
        <br><br>
      </p>

      <div class="ensavoir_plus_bt">
        <a href="{{_('audit')}}">{{_('En savoir plus')}}</a>

      </div>

    </div>
  </div>




  <div class="row">
    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/budget.webp') }}" alt="Optimisation Fiscale"
        loading="lazy">
      <h1 class="title-nos-expertises"> {{_('Conseil d\'optimisation')}} </h1><br>

      <p class="speech-nos-expertises">
        {{_('Nous fournissons un service de conseil pour aider les entreprises à prendre des décisions éclairées\n
        et à atteindre leurs objectifs commerciaux et financiers.\n
        <br><br>\n
        Nous offrons des conseils sur les stratégies financières, les opérations commerciales, la gestion de la\n
        trésorerie, la planification fiscale et les opérations internationales.\n
        <br><br>\n
        Nous aidons également les entreprises à gérer les risques financiers, les opportunités d\'investissement\n
        et les relations avec les actionnaires et les parties prenantes.')}}
        <br><br>

      </p>
      <div class="ensavoir_plus_bt">
        <a href="{{_('conseil_optimisation')}}">{{_('En savoir plus')}}</a>
      </div>
    </div>
    <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
    </div>
    <div class="col-xs-8 col-sm-7 col-md-7 col-lg-7">
      <img class="logo-nos-expertises" src="{{ url_for('static',filename='images/ux.webp') }}" alt="Cabinet comptable digital"
        loading="lazy" style="display: block;margin-left: auto;">
      <h1 class="title-nos-expertises" style="text-align: right;"> {{_('Conseil informatique')}} </h1><br>

      <p class="speech-nos-expertises">
        <br><br>
        {{_('Notre département informatique gère tout type de problématiques liés aux systèmes d\'information, à la \n
        gestion de vos données clients ainsi qu\'à l\'amélioration de vos process.')}}
        <br><br>

        {{_('Les services informatiques que nous pouvons offrir incluent la \n
        mise en place et la gestion de systèmes comptables et\n
        financiers, la mise en place de systèmes de gestion de la\n
        paie, la mise en place de systèmes de suivi des stocks et de\n
        la facturation, et des conseils sur les logiciels et les\n
        technologies les plus appropriées pour les besoins de\n
        l\'entreprise.')}}

        <br><br>

        {{_('Nous pouvons aussi aider les entreprises à garantir la\n
        sécurité de leurs données')}}


      </p>
      <div class="ensavoir_plus_bt">
        <a href="{{_('conseil_optimisation')}}">{{_('En savoir plus')}}</a>
      </div>
    </div>

  </div>

</div>




<body>
  <section class="témoignages">
    <div class="container-fluid">
      <div class="row mx-0">
        <div class="col-lg-12">
          <h1 class="banner_taital">{{_('Témoignages')}}</h1>
        </div>
      </div>
      <div class="content_NEW">
        <div class="your-class">
          <div class="témoignages-card bg-blue">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.webp') }}" alt="Nos clients et partenaires" />
            <div class="header">
              <div class="row mx-0">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/fintis_logo.webp') }}" alt="Nos clients et partenaires" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                {{_('Cabinet de conseil en investissement')}}
              </h5>
              <p class="text_carousel_notre_expertise">
                {{_('MEDEO est un partenaire efficace, à l\'écoute et soucieux de nos besoins très souvent
                changeants')}}

              </p>
            </div>
          </div>
          <div class="témoignages-card bg-red">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.webp') }}" alt="Nos clients et partenaires" />
            <div class="header">
              <div class="row mx-0">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/energy_consulting_logo.webp') }}" alt="Nos clients et partenaires" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                {{_('Cabinet de consulting en ingénierie')}}

              </h5>
              <p class="text_carousel_notre_expertise">
                {{_('Avec Medeo, nous avons trouvé un allié de confiance. Leur équipe dévouée et réactive comprend nos\n
                enjeux et apporte constamment des réponses pertinentes à nos problématiques comptables.')}}
              </p>
            </div>
          </div>
          <div class="témoignages-card bg-grey">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.webp') }}" alt="Nos clients et partenaires" />
            <div class="header">
              <div class="row mx-0">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/empruntis_logo.webps') }}" alt="Nos clients et partenaires" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                {{_('Courtier immobilier')}}
              </h5>
              <h6 class="text_carousel_notre_expertise" style="line-height: 30px;">
                {{_('Nous sommes fiers de notre partenariat avec MEDEO. Une entente joviale, une rigueur à tous les\n
                étages et surtout une capacité à dépasser nos attentes en termes de qualité de service.')}}
              </h6>
            </div>
          </div>
          <div class="témoignages-card bg-blue">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.webp') }}" alt="Nos clients et partenaires" />
            <div class="header">
              <div class="row mx-0">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/bamana_solutions_logo.webp') }}" alt="Nos clients et partenaires" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                {{_('Cabinet de conseil en numérique et transformation digitale')}}
              </h5>
              <p class="text_carousel_notre_expertise">
                {{_('Les compétences et l\'expertise d\'Avi et Israel nous ont beaucoup aidé dans la création de notre\n
                entreprise.')}}
                {{_('La réactivité et la disponibilité des associés sont très appréciables durant une phase aussi\n
                dense et stressante que la création d\'une entreprise.')}}
              </p>
            </div>
          </div>
          <div class="témoignages-card bg-red">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.webp') }}" alt="Nos clients et partenaires" />
            <div class="header">
              <div class="row mx-0">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/DMC_logo.webp') }}" alt="Nos clients et partenaires" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                {{_('Agence DMC')}}
              </h5>
              <p class="text_carousel_notre_expertise">
                {{_('L\'expertise de Medeo est incontestable. Ils font preuve \'une grande écoute et d\'une réelle \n
                capacité à anticiper nos besoins. Leur accompagnement personnalisé est un atout majeur pour notre\n
                entreprise.')}}
              </p>
            </div>
          </div>
          <div class="témoignages-card bg-grey">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.webp') }}" alt="Nos clients et partenaires" />
            <div class="header">
              <div class="row mx-0">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/rc_consulting.webp') }}" alt="Nos clients et partenaires" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                {{_('Cabinet de conseil en investissements financiers')}}
              </h5>
              <p class="text_carousel_notre_expertise">
                {{_('Medeo se distingue par son professionnalisme exceptionnel. Toujours prêt à s\'adapter, ce cabinet\n
                offre des solutions sur mesure qui répondent parfaitement à l\'évolution de nos exigences.')}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="partenaires">
    <div class="container-fluid">
      <div class="row mx-0">
        <div class="col-lg-12">
          <h1 class="banner_taital">{{_('Partenaires')}}</h1>
        </div>
      </div>

      <div class="content_NEW">
        <div class="your-class-2">

          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/axonaut_logo.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Axonaut</h5>
              <p class="text folded">
                {{_('Axonaut est un logiciel de gestion intégrée, optimisant les opérations des PME avec \n
                des outils pour la comptabilité, la facturation, le CRM, les RH et la gestion de projet. \n
                Sa plateforme intuitive facilite la centralisation et l\'efficacité des processus d\'entreprise.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/bamana_solutions_logo.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Bamana Solutions</h5>
              <p class="text folded">
                {{_('Bamana Solutions est un cabinet de conseil spécialisé dans le numérique, offrant une \n
                expertise approfondie pour accompagner les entreprises dans leur transformation digitale et \n
                l\'optimisation de leurs processus technologiques.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/dext.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Dext</h5>
              <p class="text folded">
                {{_('Dext est une solution numérique de gestion des finances et des dépenses, conçue pour simplifier \n
                et automatiser la comptabilité des entreprises de toutes tailles, en intégrant la collecte de données,\n
                le classement et l\'analyse des transactions financières.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/docusign.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Docusign</h5>
              <p class="text folded">
                {{_('DocuSign offre une solution de signature électronique sécurisée et efficace, \n
                facilitant la gestion des accords et la digitalisation des processus documentaires\n
                pour les entreprises et les particuliers.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/gocardless.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">GoCardless</h5>
              <p class="text folded">
                {{_('GoCardless est un service de paiement spécialisé dans la gestion simplifiée des\n
                prélèvements bancaires automatiques, aidant les entreprises à collecter et gérer les\n
                paiements récurrents de manière efficace et sécurisée.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>
            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/gcp_logo.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Google Cloud</h5>
              <p class="text folded">
                {{_('Google Cloud fournit une suite complète de services de cloud computing, offrant \n
                des solutions de stockage de données, de calcul en nuage et d\'analyse avancée, destinées\n
                à favoriser l\'innovation et l\'efficacité opérationnelle des entreprises.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/inpi.webp') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Inpi</h5>
              <p class="text folded">
                {{_('L\'INPI (Institut National de la Propriété Industrielle) est l\'organisme français\n
                officiel dédié à l\'enregistrement et à la protection des brevets, marques, dessins et\n
                modèles, soutenant l\'innovation et la compétitivité des entreprises et inventeurs.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/sage.jpeg') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Sage</h5>
              <p class="text folded">
                {{_('Sage est un leader mondial en solutions de comptabilité et de gestion d\'entreprise, offrant des\n
                logiciels innovants pour faciliter la finance, la paie et les ressources humaines, adaptés aux besoins\n
                des petites et moyennes entreprises.')}}
              </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>

          <div class="parnter-card">
            <div class="header">
              <img src="{{ url_for('static', filename='images/silae_logo.jpeg') }}" alt="Nos clients et partenaires" />
            </div>
            <div class="body" style="text-align: center;">
              <h5 class="title_partners">Silae</h5>
              <p class="text folded">
                {{_('Silae est un logiciel de paie et de gestion des ressources humaines, conçu pour optimiser et\n
                automatiser les processus RH, offrant une solution complète et intuitive adaptée aux\n
                besoins spécifiques des entreprises françaises.')}} </p>
              <button class="btn btn-outline-primary" onclick="toggleText(this)"><i
                  class="fa-solid fa-arrow-down-long"></i></button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>


<script>


  var observer = new MutationObserver(function (mutations) {
    var elem = document.getElementById('slick-slide-control00');
    if (elem) {
      elem.click();
      observer.disconnect();
    }
  });

  observer.observe(document.body, { childList: true, subtree: true });

  //$('.your-class, .your-class-2').css('overflow-x', 'hidden');
  $(".your-class").slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          infinite: true,
          dots: true,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ],
  });

  $(".your-class-2").slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 6,
    slidesToScroll: 2,
    autoplay: true,
    autoplaySpeed: 2000,

    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ],
  });

  function toggleText(button) {
    var text = button.previousElementSibling;
    var icon = button.querySelector('i');

    if (text.classList.contains("folded")) {
      text.classList.remove("folded");
      icon.className = "fa-solid fa-arrow-up-long"; // Icon for unfolded state
    } else {
      text.classList.add("folded");
      icon.className = "fa-solid fa-arrow-down-long"; // Icon for folded state
    }
  }
</script>

<style>
  .titre_carousel_notre_expertise {
    color: white;
    font-size: x-large;
    font-weight: bold;
  }

  .text_carousel_notre_expertise {
    color: white;
    font-size: medium;
    margin: 0px !important;
    width: 95%;
  }

  .main-image {
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }

  .main-image img {
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    margin: auto;
  }

  .quotes-img {
    position: absolute;
    right: 7%;
    width: 90px;
  }

  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
  }

  .slick-dots li button:before {
    font-size: 18px;
  }

  .slick-dots li.slick-active button:before {
    color: #0D4A78;
    opacity: 1;
  }

  .partenaires .slick-dots li.slick-active button:before {
    color: #E91D2A;
    opacity: 1;
  }

  .parnter-card .body {
    margin-top: 1rem;
  }

  .parnter-card .body h5 {
    font-size: 2rem;
    font-weight: 700;
  }

  .parnter-card .body h5,
  .parnter-card .body p {
    color: #0D4A78;
  }

  .parnter-card .body p {
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .slider-container {
    max-width: 100%;
    overflow: hidden !important;
  }



  .parnter-card .header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .parnter-card {
    display: flex;
    flex-direction: column;
  }

  .témoignages h1,
  .partenaires h1 {
    color: #0D4A78;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
  }

  section {
    margin: 3rem 0;
  }

  .slick-list {
    margin: 2rem 0;
  }

  .slick-dots {
    bottom: 0px;
  }

  .slick-initialized {
    overflow: hidden;
  }
</style>




<script>

  document.addEventListener('DOMContentLoaded', function () {

    window.scrollTo(0, 0);


    // Loader des autres pages
    var loaderDiv = document.getElementById('loaderid');
    var foregroundDiv = document.getElementById('foregid');
    // Show the div
    foregroundDiv.style.display = 'block';
    loaderDiv.style.display = 'block';
    // Hide the div after 1 seconds
    setTimeout(function () {
      loaderDiv.style.display = 'none';
      foregroundDiv.style.display = 'none';
    }, 1000);
  });


</script>



{% endblock content %}