{% extends "layout.html" %}
{% block content %}

<div class="bg-image-home"></div>

<!-- Page Content -->
<div id="content">
  <div data-translate class="h-96 animate-top">
    <div class="container mx-auto flex flex-col gap-4 text-center items-center justify-center h-full">
      <h1 class="text-5xl text-primary font-black">{{_('Notre expertise')}}</h1>
      <h2 class="italic text-primary opacity-95 font-bold text-2xl">{{_('Medeo, "Cure your business"')}}</h2>
    </div>
  </div>

  <section class="w-full bg-white border-t">
    <div class="container mx-auto grid grid-cols-2 gap-8 py-24 justify-center">

      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/accounting.webp') }}" alt="Comptabilité"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_('Expertise comptable')}} </h1>
        <p>
          {{_("Nous fournissons des conseils pour aider les entreprises à prendre des décisions financières\n
          et fiscales éclairées.\n
          <br><br>\n
          Nous les aidons à établir et à surveiller les systèmes financiers et comptables pour garantir \n
          l\'exactitude de leurs données.\n
          <br><br>\n
          Nous préparons et examinons les déclarations fiscales pour s\'assurer que les entreprises remplissent leurs \n
          obligations fiscales.\n
          <br><br>\n
          Nous offrons des conseils stratégiques pour maximiser les opérations commerciales et les stratégies \n
          financières des entreprises.
          <br><br>\n
          Nous aidons à prévenir les litiges financiers et à les gérer lorsqu\'ils se produisent")}}
        </p>
        <a href="{{_('expertise_comptable')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>



      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/audit.webp') }}" alt="Audit"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_('Audit')}}</h1>
        <p>
          {{_("Nous réalisons un examen indépendant, systématique et méthodique des états financiers de nos clients en tant qu'auditeurs qualifiés conformément aux normes d'audit.\n
          <br><br>\n
          L\'objectif de notre audit contractuel est d'émettre une opinion sur la fiabilité des états financiers et leur conformité avec les principes comptables officiellement en vigueur.\n
          <br><br>\n
          Notre mission consiste également à détecter les erreurs, omissions et irrégularités financières afin de garantir l'exactitude des informations dans un soucis de transparence ce qui permet, de renforcer la confiance des parties prenantes et d'assurer la conformité avec la réglementation.")}}
        </p>

        <a href="{{_('audit')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>



      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/budget.webp') }}" alt="Optimisation Fiscale"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_("Conseil d\'optimisation")}}</h1>
        <p>
          {{_("Notre mission est d\'offrir un service de conseil qui accompagne les entreprises dans la prise de décisions éclairées afin de les aider à atteindre leurs objectifs commerciaux et financiers.\n
          <br><br>\n
          Nous intervenons dans des domaines clés et offrons une expertise complète dans des domaines essentiels qui sont notamment : l\'élaboration de stratégies financières, l'optimisation des opérations commerciales, la gestion efficace de la trésorerie, la planification fiscale stratégique et la gestion des opérations à l\'international. Ces services permettent aux entreprises de renforcer leur compétitivité, de maximiser leur rentabilité et de se conformer aux régulations fiscales et commerciales spécifiques à chaque marché.\n
          <br><br>\n
          Nous assistons également les entreprises dans la gestion des risques financiers, dans l'identification des opportunités d\'investissement, ainsi que dans la gestion des relations avec les actionnaires et les parties prenantes.")}}
        </p>
        <a href="{{_('conseil_optimisation')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>


      <div class="flex flex-col gap-6 p-8 bg-gray-50 rounded-3xl">
        <img class="w-24 h-24 object-contain" src="{{ url_for('static',filename='images/ux.webp') }}" alt="Cabinet comptable digital"
        loading="lazy">
        <h1 class="text-3xl text-primary font-extrabold">{{_('Conseil informatique')}}</h1>
        <p>
          {{_("Notre département informatique prend en charge l'ensemble des problématiques liées aux systèmes d'information, à la gestion des données clients, ainsi qu'à l'optimisation de vos processus internes.\n
          <br><br>\n
          Nous proposons un service complet incluant la mise en place et la gestion de systèmes comptables et financiers, de solutions de gestion de la paie, ainsi que de systèmes de suivi des stocks et de facturation. Nous offrons également des conseils sur les logiciels et technologies les mieux adaptés aux besoins spécifiques de chaque entreprise.\n
          <br><br>\n
          En outre, nous aidons les entreprises à renforcer la sécurité de leurs données afin de garantir la protection des informations sensibles liées à leur activité.")}}
        </p>
        <a href="{{_('conseil_informatique')}}" class="mt-auto ml-auto text-primary font-bold">{{_('En savoir plus')}}</a>
      </div>

    </div>
  </section>


  {# Témoignages #}
  <section class="w-full bg-gray-50">
    <div class="container mx-auto flex flex-col gap-8 py-24 justify-center">
      <h2 class="font-bold text-5xl text-primary">{{_('Témoignages')}}</h2>
      <h3 class="font-bold text-2xl text-gray-500">{{_('Ils nous ont fait confiance...')}}</h3>
      <div class="grid grid-cols-2 gap-8">

        <div class="bg-white rounded-2xl shadow-lg p-8">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/fintis_logo.webp') }}" alt="Fintis"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de conseil en investissement')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("MEDEO est un partenaire efficace, à l\'écoute et soucieux de nos besoins très souvent changeants")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/energy_consulting_logo.webp') }}" alt="Energy Consulting"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de consulting en ingénierie')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Avec Medeo, nous avons trouvé un allié de confiance. Leur équipe dévouée et réactive comprend nos enjeux et apporte constamment des réponses pertinentes à nos problématiques comptables.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/empruntis_logo.webp') }}" alt="Empruntis"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Courtier immobilier')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Nous sommes fiers de notre partenariat avec MEDEO. Une entente joviale, une rigueur à tous les étages et surtout une capacité à dépasser nos attentes en termes de qualité de service.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/bamana_solutions_logo.webp') }}" alt="Bamana Solutions"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de conseil en numérique et transformation digitale')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Les compétences et l\'expertise d\'Avi et Israel nous ont beaucoup aidé dans la création de notre\n
              entreprise.")}}
            {{_("La réactivité et la disponibilité des associés sont très appréciables durant une phase aussi\n
            dense et stressante que la création d\'une entreprise.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/DMC_logo.webp') }}" alt="Agence DMC"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Agence DMC')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("L\'expertise de Medeo est incontestable. Ils font preuve \'une grande écoute et d\'une réelle \n
            capacité à anticiper nos besoins. Leur accompagnement personnalisé est un atout majeur pour notre\n
            entreprise.")}}
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow-lg p-8">
          <img class="w-16 h-16 object-contain rounded-full border" src="{{ url_for('static',filename='images/rc_consulting.webp') }}" alt="Cabinet de conseil en investissements financiers"
          loading="lazy">
          <h1 class="text-lg text-primary font-extrabold">{{_('Cabinet de conseil en investissements financiers')}}</h1>
          <p class="italic mt-4 text-lg font-medium">
            {{_("Medeo se distingue par son professionnalisme exceptionnel. Toujours prêt à s\'adapter, ce cabinet\n
            offre des solutions sur mesure qui répondent parfaitement à l\'évolution de nos exigences.")}}
          </p>
        </div>

      </div>
    </div>
  </section>


  {# Nos partenaires #}
  <section class="w-full bg-primary text-white">
    <div class="container mx-auto flex flex-col gap-8 py-24 justify-center">
      <h2 class="font-bold text-5xl">{{_('Partenaires')}}</h2>
      <div class="grid grid-cols-4 gap-8 gap-y-16 justify-center">

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/axonaut_logo.webp') }}" alt="Axonaut"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Axonaut')}}</h1>
          <p class="text-center">
            {{_("Axonaut est un logiciel de gestion intégrée, optimisant les opérations des PME avec des outils pour la comptabilité, la facturation, le CRM, les RH et la gestion de projet. Sa plateforme intuitive facilite la centralisation et l'efficacité des processus d'entreprise.")}}
          </p>
          <a href="https://www.axonaut.com/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/bamana_solutions_logo.webp') }}" alt="Bamana Solutions"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Bamana Solutions')}}</h1>
          <p class="text-center">
            {{_("Bamana Solutions est un cabinet de conseil spécialisé dans le numérique, offrant une expertise approfondie pour accompagner les entreprises dans leur transformation digitale et l'optimisation de leurs processus technologiques.")}}
          </p>
          <a href="https://www.bamanasolutions.com/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/dext.webp') }}" alt="Dext"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Dext')}}</h1>
          <p class="text-center">
            {{_("Dext est une solution numérique de gestion des finances et des dépenses, conçue pour simplifier et automatiser la comptabilité des entreprises de toutes tailles, en intégrant la collecte de données, le classement et l'analyse des transactions financières.")}}
          </p>
          <a href="https://dext.com/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/docusign.webp') }}" alt="Docusign"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Docusign')}}</h1>
          <p class="text-center">
            {{_("DocuSign offre une solution de signature électronique sécurisée et efficace, facilitant la gestion des accords et la digitalisation des processus documentaires pour les entreprises et les particuliers.")}}
          </p>
          <a href="https://www.docusign.fr/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/gocardless.webp') }}" alt="GoCardless"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('GoCardless')}}</h1>
          <p class="text-center">
            {{_("GoCardless est un service de paiement spécialisé dans la gestion simplifiée des prélèvements bancaires automatiques, aidant les entreprises à collecter et gérer les paiements récurrents de manière efficace et sécurisée.")}}
          </p>
          <a href="https://gocardless.com/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/gcp_logo.webp') }}" alt="Google Cloud"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Google Cloud')}}</h1>
          <p class="text-center">
            {{_("Google Cloud fournit une suite complète de services de cloud computing, offrant des solutions de stockage de données, de calcul en nuage et d'analyse avancée, destinées à favoriser l'innovation et l'efficacité opérationnelle des entreprises.")}}
          </p>
          <a href="https://cloud.google.com/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/inpi.webp') }}" alt="INPI"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('INPI')}}</h1>
          <p class="text-center">
            {{_("L'INPI (Institut National de la Propriété Industrielle) est l'organisme français officiel dédié à l'enregistrement et à la protection des brevets, marques, dessins et modèles, soutenant l'innovation et la compétitivité des entreprises et inventeurs.")}}
          </p>
          <a href="https://www.inpi.fr/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/sage.jpeg') }}" alt="Sage"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Sage')}}</h1>
          <p class="text-center">
            {{_("Sage est un leader mondial en solutions de comptabilité et de gestion d'entreprise, offrant des logiciels innovants pour faciliter la finance, la paie et les ressources humaines, adaptés aux besoins des petites et moyennes entreprises.")}}
          </p>
          <a href="https://www.sage.com/fr-fr/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

        <div class="flex flex-col gap-4 text-center items-center opacity-95 hover:opacity-100 transition select-none bg-white bg-opacity-5 p-6 rounded-3xl">
          <img class="w-24 h-24 object-contain rounded-3xl" src="{{ url_for('static',filename='images/silae_logo.jpeg') }}" alt="Silae"
          loading="lazy">
          <h1 class="text-2xl font-extrabold">{{_('Silae')}}</h1>
          <p class="text-center">
            {{_("Silae est un logiciel de paie et de gestion des ressources humaines, conçu pour optimiser et automatiser les processus RH, offrant une solution complète et intuitive adaptée aux besoins spécifiques des entreprises françaises.")}}
          </p>
          <a href="https://www.silae.fr/" class="mt-auto ml-auto px-4 py-2 rounded-lg bg-white text-primary font-bold">{{_('En savoir plus')}}</a>
        </div>

      </div>
    </div>
  </section>
</div>

{% endblock content %}