{% extends "layout.html" %}
{% block content %}
<div class="loader-container">
  <div id="foregid" class="foreg"></div>
  <span id="loaderid" class="loader"></span>
</div>


<div class="fade_in page-heading-nouscontacter animate-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital">{{_('Nous contacter')}}</h1>
        <h4 class="medeo-cure-your" style="font-style: italic;">{{_('Medeo, "Cure your business"')}}</h4>
        <h1 class="banner_taital" style=" margin-top: 7vw;">{{_('Nos bureaux')}}</h1>
      </div>
    </div>
  </div>
</div>


<div class="fade_in container animate-top" id="nos_bureaux">
  <div class="row">
    <div class="cocon_contact effet_ombre_nous_contacter">
      <iframe style="border-radius: 25px;" height="300" width="60%" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=97%20boulevard%20Malesherbes+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
          href="https://www.maps.ie/population/">Find Population on Map</a></iframe>
      <div class="adresse_contact">
        <h1 class="title_contact" style="margin-bottom: 20px;"> PARIS</h1><br>

        <h3 class="banner_taital_h3"> MEDEO PARTNERS</h3>
        <h3 class="banner_taital_h3"> 97 BD MALESHERBES</h3>
        <h3 class="banner_taital_h3"> 75008 Paris</h3>
        <h3 class="banner_taital_h3"> 01 83 64 16 04</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cocon_contact effet_ombre_nous_contacter">

      <div class="adresse_contact">
        <h1 class="title_contact" style="margin-bottom: 20px;"> WASHINGTON</h1><br>

        <h3 class="banner_taital_h3"> MEDEO TAX</h3>
        <h3 class="banner_taital_h3"> 1831 2nd ST NE UNIT#509</h3>
        <h3 class="banner_taital_h3"> WASHINGTON, DC 20002</h3>
        <h3 class="banner_taital_h3"> +240 217 90 53</h3>
      </div>
      <!-- <iframe style="border-radius: 25px;" height="300" width="60%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=97%20boulevard%20Malesherbes+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe> -->
      <iframe style="border-radius: 25px;" height="300" width="60%" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1831%202nd%20ST%20washington%20DC+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
          href="https://www.maps.ie/population/">Find Population on Map</a></iframe>
    </div>
  </div>
</div>


<div class=" fade_inpage-heading-nouscontacter-dos" id="nous_ecrire">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital animate-top">{{_('Nous contacter ')}}</h1>
      </div>
    </div>
  </div>
</div>


<div id="formulaire" class="fade_in contact_section layout_padding animate-top">
  <div class="container">
    </br>
    <div class="contact_section_2 layout_padding">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div class="contact_main" style="padding-right:25px">
            <form class="submitForm" method="post" enctype="multipart/form-data" action="">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.firstname.label(class="form-control-label white") }} -->
                    {% if form.firstname.errors %}
                    {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.firstname.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <!--{{ form.firstname(class="form-control form-control-lg effet_ombre_form") }}-->
                    <input class="form-control form-control-lg effet_ombre_form" id="firstname" maxlength="30"
                      minlength="2" name="firstname" placeholder={{_("PRÉNOM")}} required type="text" value>
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.lastname.label(class="form-control-label white") }} -->
                    {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.lastname.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <!--{{ form.lastname(class="form-control form-control-lg effet_ombre_form") }}-->
                    <input class="form-control form-control-lg effet_ombre_form" id="lastname" maxlength="30"
                      minlength="2" name="lastname" placeholder={{_("NOM")}} required type="text" value>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.phonenumber.label(class=" form-control-label white") }} -->
                    {% if form.phonenumber.errors %}
                    {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.phonenumber.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <input class="form-control form-control-lg effet_ombre_form" id="phonenumber" maxlength="10"
                      minlength="10" name="phonenumber" placeholder={{_("TÉLÉPHONE")}} required type="text" value>
                    <!-- {{ form.phonenumber(class="form-control form-control-lg effet_ombre_form")}}-->
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.email.label(class="form-control-label white") }} -->
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <input class="form-control form-control-lg effet_ombre_form" id="email" name="email"
                      placeholder={{_("E-MAIL")}} required type="email" value>
                    <!-- {{ form.email(class="form-control form-control-lg effet_ombre_form") }}-->
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- {{ form.subject.label(class="form-control-label white") }} -->
                    {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.subject.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    <input class="form-control form-control-lg effet_ombre_form" id="subject" maxlength="50"
                      minlength="4" name="subject" placeholder={{_("SUBJECT")}} required type="text" value>
                    <!-- {{ form.subject(class="form-control form-control-lg effet_ombre_form")}}-->
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <!-- {{ form.content.label(class="form-control-label white") }} -->
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.content.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                <input class="form-control form-control-lg effet_ombre_form" id="content" maxlength="200" minlength="10"
                  name="content" placeholder={{_("MESSAGE")}} required type="text" value>
                <!-- {{ form.content(class="form-control form-control-lg effet_ombre_form") }}-->
                {% endif %}
              </div>
              <div class="form-group">
                <div class="row recaptcha">
                  {{form.recaptcha}}
                  {{ form.submit(class="button_envoyer_contact btn-lg") }}
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <h1 class="banner_taital">{{_('Nous rejoindre ')}}</h1> -->

<body>
  <section class="témoignages">
    <div class="container">
      <div class="row mx-0_HAKIM">
        <div class="col-lg-12">
          <h1 class="banner_taital" id="nous_rejoindre" style="margin-top: 0vw;">{{_('Nous rejoindre')}}</h1>
        </div>
      </div>
      <div class="content_NEW">
        <div class="your-class">
          <div class="openposition-card bg-blue">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.png') }}" alt="image quotes" />
            <div class="header">
              <div class="row mx-0_HAKIM">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/plant_comp.jpeg') }}" alt="image plant comp" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                Poste : Expert Comptable CDI (H/F)
              </h5>
              <h6 class="text_carousel_notre_expertise">
                Nous recherchons un Expert Comptable expérimenté pour rejoindre notre équipe en tant que
                collaborateur en CDI. Si vous avez une solide expérience en expertise comptable et que vous
                souhaitez évoluer au sein d'un cabinet de renom, nous aimerions vous rencontrer.
                <!-- <br/>
              Responsabilités :

              Gérer un portefeuille clients varié.
              Superviser et former une équipe comptable.
              Fournir des conseils stratégiques aux clients.
              Assurer la conformité fiscale et comptable.
              Participer au développement commercial du cabinet.
              Exigences :

              Diplôme d'Expertise Comptable.
              Expérience significative en cabinet comptable.
              Excellentes compétences en leadership et en communication.
              Connaissance approfondie des lois fiscales et comptables.
              Orientation client et sens des responsabilités. -->

                </h6>
            </div>
          </div>
          <div class="openposition-card bg-red">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.png') }}" alt="image quotes" />
            <div class="header">
              <div class="row mx-0_HAKIM">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/plant_comp.jpeg') }}" alt="image plant comp" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                Candidature Spontanée
                <br />
              </h5>
              <h6 class="text_carousel_notre_expertise">
                Vous êtes passionné par le domaine de la comptabilité et vous souhaitez rejoindre une équipe
                d'experts-comptables dynamique ? Nous sommes toujours à la recherche de talents exceptionnels.
                Envoyez-nous votre candidature spontanée dès aujourd'hui.
                <!-- 
                Responsabilités :

                Les responsabilités spécifiques dépendront du poste disponible au moment de la candidature.
                Exigences :

                Formation en comptabilité ou finance.
                Capacité à travailler en équipe.
                Motivation, autonomie et sens des responsabilités. -->
                </h6>
            </div>
          </div>
          <div class="openposition-card bg-grey">
            <img class="quotes-img" src="{{ url_for('static', filename='images/quotes.png') }}" alt="image quotes" />
            <div class="header">
              <div class="row mx-0_HAKIM">
                <div class="col-lg-6">
                  <div class="main-image">
                    <img src="{{ url_for('static', filename='images/plant_comp.jpeg') }}" alt="image plant comp" />
                  </div>
                </div>
              </div>
            </div>
            <div class="body">
              <h5 class="titre_carousel_notre_expertise">
                Poste : Alternant en Comptabilité
              </h5>
              <h6 class="text_carousel_notre_expertise">

                Vous recherchez une opportunité d'alternance en comptabilité au sein d'un cabinet
                d'experts-comptables renommé ? Nous offrons un environnement d'apprentissage stimulant pour les
                étudiants en comptabilité qui souhaitent acquérir une expérience pratique.

                <!-- Responsabilités :
    
                Assister les chargés de mission comptable dans leurs tâches.
                Participer à la préparation des déclarations fiscales.
                Contribuer à la gestion comptable quotidienne.
                Apprendre les normes comptables et fiscales en vigueur.
                Travailler en étroite collaboration avec l'équipe comptable.
                Exigences :
    
                Étudiant en comptabilité ou finance.
                Disponibilité pour une période d'alternance.
                Motivation à apprendre et à progresser.
                Bonnes compétences en communication et en travail d'équipe.
                N'oubliez pas d'adapter ces annonces et fiches de poste en fonction de vos besoins spécifiques et
                des compétences recherchées pour chaque poste. -->
              </h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>



</body>


<script>


  var observer = new MutationObserver(function (mutations) {
    var elem = document.getElementById('slick-slide-control00');
    if (elem) {
      elem.click();
      observer.disconnect();
    }
  });

  observer.observe(document.body, { childList: true, subtree: true });

  //$('.your-class, .your-class-2').css('overflow-x', 'hidden');
  $(".your-class").slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          infinite: true,
          dots: true,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ],
  });

  $(".your-class-2").slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 6,
    slidesToScroll: 2,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ],
  });

  function toggleText(button) {
    var text = button.previousElementSibling;
    var icon = button.querySelector('i');

    if (text.classList.contains("folded")) {
      text.classList.remove("folded");
      icon.className = "fa-solid fa-arrow-up-long"; // Icon for unfolded state
    } else {
      text.classList.add("folded");
      icon.className = "fa-solid fa-arrow-down-long"; // Icon for folded state
    }
  }


  var cards = document.querySelectorAll('.carousel-card');
  console.log("hello")
  console.log(cards)
  cards.forEach(function (card) {
    card.addEventListener('click', function () {
      document.getElementById('formulaire').scrollIntoView({ behavior: 'smooth' });
    });
  });
</script>

<style>
  .titre_carousel_notre_expertise {
    color: white;
    font-size: x-large;
    font-weight: bold;
  }

  .text_carousel_notre_expertise {
    color: white;
    font-size: medium;
    margin: 0px !important;
    width: 95%;
  }

  .main-image {
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }

  .main-image img {
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    margin: auto;
  }



  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
  }

  .slick-dots li button:before {
    font-size: 18px;
  }

  .slick-dots li.slick-active button:before {
    color: #0D4A78;
    opacity: 1;
  }

  .partenaires .slick-dots li.slick-active button:before {
    color: #E91D2A;
    opacity: 1;
  }

  .parnter-card .body {
    margin-top: 1rem;
  }

  .parnter-card .body h5 {
    font-size: 2rem;
    font-weight: 700;
  }

  .parnter-card .body h5,
  .parnter-card .body p {
    color: #0D4A78;
  }

  .parnter-card .body p {
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .slider-container {
    max-width: 100%;
    overflow: hidden !important;
  }



  .parnter-card .header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .parnter-card {
    display: flex;
    flex-direction: column;
  }

  .témoignages h1,
  .partenaires h1 {
    color: #0D4A78;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
  }

  section {
    margin: 3rem 0;
  }

  .slick-list {
    margin: 2rem 0;
  }

  .slick-dots {
    bottom: 0px;
  }

  .slick-initialized {
    overflow: hidden;
  }
</style>




<script>

  document.addEventListener('DOMContentLoaded', function () {


    window.scrollTo(0, 0);

    // Loader des autres pages
    var loaderDiv = document.getElementById('loaderid');
    var foregroundDiv = document.getElementById('foregid');
    // Show the div
    foregroundDiv.style.display = 'block';
    loaderDiv.style.display = 'block';
    // Hide the div after 1 seconds
    setTimeout(function () {
      loaderDiv.style.display = 'none';
      foregroundDiv.style.display = 'none';
    }, 1000);
  });


</script>



{% endblock content %}