{% extends "layout.html" %}
{% block content %}

<div class="page-heading-nouscontacter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital">{{_('Nous contacter')}}</h1>
        <p class="what_text_1" style="font-style: italic;">Medeo , "Cure your business"</p>
        <h1 class="banner_taital" style=" margin-top: 7vw;">{{_('Nos bureaux')}}</h1>
      </div>
    </div>
  </div>
</div>


<div class="container" id="nos_bureaux">
  <div class="row">
    <div class="cocon_contact effet_ombre_nous_contacter">
      <iframe style="border-radius: 25px;" height="300" width="60%" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=97%20boulevard%20Malesherbes+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
          href="https://www.maps.ie/population/">Find Population on Map</a></iframe>
      <div class="adresse_contact">
        <h1 class="title_contact" style="margin-bottom: 20px;"> PARIS</h1><br>

        <h3 class="banner_taital_h3"> MEDEO PARTNERS</h3>
        <h3 class="banner_taital_h3"> 97 BD MALESHERBES</h3>
        <h3 class="banner_taital_h3"> 75008 Paris</h3>
        <h3 class="banner_taital_h3"> 01 83 64 16 04</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cocon_contact effet_ombre_nous_contacter">

      <div class="adresse_contact">
        <h1 class="title_contact" style="margin-bottom: 20px;"> WASHINGTON</h1><br>

        <h3 class="banner_taital_h3"> MEDEO TAX</h3>
        <h3 class="banner_taital_h3"> 1831 2nd ST NE UNIT#509</h3>
        <h3 class="banner_taital_h3"> WASHINGTON, DC 20002</h3>
        <h3 class="banner_taital_h3"> +240 217 90 53</h3>
      </div>
      <!-- <iframe style="border-radius: 25px;" height="300" width="60%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=97%20boulevard%20Malesherbes+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Find Population on Map</a></iframe> -->
      <iframe style="border-radius: 25px;" height="300" width="60%" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1831%202nd%20ST%20washington%20DC+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
          href="https://www.maps.ie/population/">Find Population on Map</a></iframe>
    </div>
  </div>
</div>


<div class="page-heading-nouscontacter-dos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="banner_taital">{{_('Nous écrire ')}}</h1>
      </div>
    </div>
  </div>
</div>


<div class="contact_section layout_padding">
  <div class="container">
    </br>
    <div class="contact_section_2 layout_padding">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <div class="contact_main" style="padding-right:25px">
            <form class="submitForm" method="post" enctype="multipart/form-data" action="">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.firstname.label(class="form-control-label white") }} -->
                    {% if form.firstname.errors %}
                    {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.firstname.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.firstname(class="form-control form-control-lg effet_ombre_form", placeholder="PRÉNOM") }}
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.lastname.label(class="form-control-label white") }} -->
                    {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.lastname.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.lastname(class="form-control form-control-lg effet_ombre_form", placeholder="NOM") }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.phonenumber.label(class=" form-control-label white") }} -->
                    {% if form.phonenumber.errors %}
                    {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.phonenumber.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.phonenumber(class="form-control form-control-lg effet_ombre_form", placeholder="TÉLÉPHONE")
                    }}
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <!-- {{ form.email.label(class="form-control-label white") }} -->
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg effet_ombre_form", placeholder="E-MAIL") }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- {{ form.subject.label(class="form-control-label white") }} -->
                    {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.subject.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.subject(class="form-control form-control-lg effet_ombre_form", placeholder="SUJET") }}
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <!-- {{ form.content.label(class="form-control-label white") }} -->
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.content.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg effet_ombre_form", placeholder="MESSAGE") }}
                {% endif %}
              </div>
              <div class="form-group">
                <div class="row recaptcha">
                  {{form.recaptcha}}
                  {{ form.submit(class="btn btn-outline-info btn-lg") }}
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="banner_taital">{{_('Nous rejoindre ')}}</h1>
    </div>
  </div>
</div>


 <div class="header_section">
  <!--banner section start -->
  <div class="banner_section layout_padding">
    <div class="container-fluid">
      <section class="slide-wrapper">
        <div class="container-fluid">
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active li_active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol><!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active" style="min-height:max-content;">
                <div class="container">
                  <div class="nous_rejoindre">
                    <img class="images_carousel_home" src="{{ url_for('static',filename='images/computer_plant.jpg') }}"
                    loading="lazy">
                    <i class="fa-solid fa-quote-right fa-2xl fa-align-right" style="color: #ffffff;"></i>
                    <h2 style="color: white;">{{_('Candidature Spontanée')}}</h2>

                    <div class="carousel_home_txt">
                      {{_('Retrouvez les dernières actualités Fiscales')}}

                      <div class="readmore_news" style="align-items:center">
                        <a href="{{_('actualites#type=.all-types&medium=.fiscal')}}">{{_('Plus d\'actualités')}}</a>
                      </div>
                    </div>
                    

                  </div>

                  
                </div>

              </div>

              
              <div class="carousel-item" style="min-height:max-content;">
                <div class="container">

                  <div class="nous_rejoindre">
                    <img class="images_carousel_home" src="{{ url_for('static',filename='images/computer_plant.jpg') }}"
                       loading="lazy">
                       <i class="fa-solid fa-quote-right fa-2xl" style="color: #ffffff;"></i>

                    <h2 style="color: white;">{{_('Poste : XX')}}</h2>
                    <div class="carousel_home_txt">
                      {{_('Retrouvez les dernières actualités Sociales')}}
                      <div class="readmore_news" style="align-items:center">
                        <a href="{{_('actualites#type=.all-types&medium=.social')}}">{{_('Plus d\'actualités')}}</a>
                      </div>
                    </div><br>
                  </div>


                 
                </div>
              </div>


              <div class="carousel-item" style="min-height:max-content;">
                <div class="container">
                  <div class="nous_rejoindre">
                    <img class="images_carousel_home" src="{{ url_for('static',filename='images/computer_plant.jpg') }}"
                       loading="lazy">
                       <i class="fa-solid fa-quote-right fa-2xl" style="color: #ffffff;"></i>

                    <h2 style="color: white;">{{_('Poste : YY')}}</h2>
                    <div class="carousel_home_txt">
                      {{_('Retrouvez les dernières actualités Juridiques')}}
                      <div class="readmore_news" style="align-items:center">
                        <a href="{{_('actualites#type=.all-types&medium=.juridique')}}">{{_('Plus d\'actualités')}}</a>
                      </div>
                    </div>

                  </div>

                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!--banner section end -->
</div>



{% endblock content %}