{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="banner_taital" style="margin-top: 10px;">
        La présomption de salariat des artistes du spectacle ne s'applique pas aux sportifs professionnels
    </h1>

    <h3 class="banner_taital_h3">
        Les sportifs professionnels qui participent librement, pour leur propre compte, à une compétition sportive ne sont pas liés aux organisateurs par un contrat de travail ; les profits qu'ils réalisent sont imposables dans la catégorie des bénéfices non commerciaux.

    <img class="image_article" src="{{url_for('static', filename='/images/news/fiscal/news_1212.jpeg')}}" loading="lazy">



    <p class="text_bottom_home">
        En vertu de l’article L 222-2-11 du Code du sport, le sportif professionnel qui participe librement, pour son propre compte à une compétition sportive est présumé ne pas être lié à l'organisateur de la compétition par un contrat de travail. 

        La présomption de salariat prévue à l'égard des artistes du spectacle par l'article L 7121-3 du Code du travail ne s'applique pas au sportif dont les conditions d'exercice sont définies ci-dessus.
        
        L’administration en déduit que les boxeurs professionnels ne peuvent être regardés comme liés aux organisateurs par un contrat de travail et que les profits qu'ils réalisent relèvent de la catégorie des bénéfices non commerciaux.
        
        Il en va de même pour les coureurs cyclistes professionnels.
        
        A notre avis :
        L’administration considérait déjà que les revenus des boxeurs et coureurs cyclistes professionnels versés par les organisateurs de compétitions relèvent des BNC. Mais par deux décisions du 8 juillet 1988 relative aux coureurs cyclistes professionnels (CE 8-7-1988 n° 60731) et du 22 juin 2011 relative aux joueurs de tennis professionnel (CE 22-6-2011 n° 319240), le Conseil d’Etat avait jugé à l’inverse que la présomption de salariat des artistes du spectacle s’appliquait aux sportifs professionnels, en déduisant que les sommes versées par les organisateurs de compétitions devaient être imposées dans la catégorie des traitements et salaires. Ces solutions paraissaient transposables aux autres sportifs professionnels (coureurs automobiles, boxeurs, basketteurs...).
        
        L’article L 222-2-11 du Code du sport, sur lequel l’administration s’appuie aujourd’hui concernant les boxeurs et coureurs cyclistes professionnels pour rappeler l’absence de présomption de salariat est issu de l’article 18 de la loi 2015-1541 du 27 novembre 2015. Dès lors que cet article vise tous les sportifs professionnels, la présente solution nous semble valable également pour les coureurs automobiles,joueurs de basket, de tennis professionnels. Les solutions précitées du Conseil d'Etat, antérieures à ce texte, nous paraissent obsolètes.    </p>

    <p class="text_bottom_home">
    
        © Editions Francis Lefebvre - La Quotidienne
    </p>


</div>
{% endblock content %}
