{% extends "news/news_template.html" %}

{% block type %}Fiscal{% endblock %}

{% block title %}Crédit d’impôt recherche : le Conseil d’État définit la notion de « subvention publique »{% endblock %}

{% block subtitle %}
    Seules les aides afférentes aux opérations de recherche versées par une personne morale de droit public sont à déduire des bases de calcul du crédit d'impôt recherche.
{% endblock %}

{% block image_url %}
    {{ url_for('static', filename='/images/news/fiscal/news_4322.jpeg') }}
{% endblock %}

{% block news_content %}
    <p>
        Les subventions publiques reçues par les entreprises à raison des opérations ouvrant droit au crédit d’impôt recherche sont déduites des bases de calcul de ce crédit, qu’elles soient définitivement acquises par elles ou remboursables (CGI art. 244 quater B, III). Le Conseil d’État vient de préciser ce qu’il convient d’entendre par « subvention publique » pour l’application de cette disposition.
    </p>
    <p>
        Il s’agit de toute aide versée à raison d’opérations ouvrant droit au crédit d’impôt par une personne morale de droit public.
    </p>
    <p>
        Il annule pour erreur de droit l’arrêt de la cour administrative d’appel de Paris selon lequel constitue une subvention publique toute aide versée en vue ou en contrepartie d’un projet de recherche, provenant de l’utilisation de ressources perçues à titre obligatoire et sans contrepartie, que ces aides soient versées par une autorité administrative ou un organisme privé investi d’une mission de service public (CAA Paris 18-2-2022 n° 19PA01989 : voir La Quotidienne du 6 avril 2022).
    </p>
{% endblock %}

{% block author %}
    © Editions Francis Lefebvre - La Quotidienne
{% endblock %}