{% extends "news/news_template.html" %}

{% block type %}
Fiscal
{% endblock %}

{% block title %}
Plus que quelques jours pour opter pour le régime de l'auto-entrepreneur en 2024
{% endblock %}

{% block subtitle %}
Les exploitants individuels qui souhaitent relever du régime de l'auto-entrepreneur au titre de l'année 2024 doivent exercer l'option pour ce régime au plus tard le 30 septembre 2023.
{% endblock %}

{% block image_url %}
../static/images/news/fiscal/news_1234.jpeg
{% endblock %}

{% block news_content %}
<p>
    Les exploitants individuels soumis au régime micro-BIC ou micro-BNC et relevant du régime micro-social ont la possibilité d'opter pour le régime de l'auto-entrepreneur prévu à l'article 151-0 du CGI, sous réserve que le montant des revenus nets du foyer fiscal soit inférieur ou égal, pour une part de quotient familial, à 27 478 €. Les exploitants qui optent pour le régime de l'auto-entrepreneur s'acquittent auprès d'un seul interlocuteur de l'impôt sur le revenu et de l'ensemble des cotisations et contributions de sécurité sociale par des versements libératoires mensuels ou trimestriels égaux à un pourcentage du chiffre d'affaires ou des recettes réalisés au cours de la période considérée.
</p>
<p>
    Pour l'imposition des revenus perçus en 2024, l'option pour le régime de l'auto-entrepreneur doit être exercée au plus tard le 30 septembre 2023 auprès des organismes sociaux compétents.
</p>
<p>
    <strong>À noter :</strong> En cas de création d'entreprise, l'option pour le régime de l'auto-entrepreneur doit être exercée au plus tard le dernier jour du troisième mois qui suit celui de la création de l'entreprise et peut être formulée auprès du guichet unique électronique des formalités d'entreprises.
</p>
{% endblock %}