{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="banner_taital" style="margin-top: 10px;">
        Heures supplémentaires : les missions complémentaires du Pacte enseignant sont défiscalisées
    </h1>

    <h3 class="banner_taital_h3">
        Les missions complémentaires du Pacte enseignant sont susceptibles de bénéficier de l'exonération des heures supplementaires.
    </h3>


    <img class="image_article" src="{{url_for('static', filename='/images/news/fiscal/news_1112.jpeg')}}" >



    <p class="text_bottom_home">
        Les éléments de rémunération susceptibles de bénéficier de l’exonération des heures supplémentaires prévue à l’article 81 quater du CGI (ainsi que de la réduction des cotisations salariales d’assurance vieillesse) sont, s’agissant des agents publics, détaillés par l’article 1er du décret 2019-133 du 25 février 2019.

        Cette liste est complétée par l’article 1er du décret 2023-823 du 25 août 2023, qui ajoute les parts fonctionnelles versées en application du décret 93-55 du 15 janvier 1993 modifié instituant une indemnité de suivi et d'orientation des élèves en faveur des personnels enseignants du second degré et du décret 2013-790 du 30 août 2013 modifié instituant une indemnité de suivi et d'accompagnement des élèves au bénéfice des personnels enseignants du premier degré.
        
        Le décret entre en vigueur le 1er septembre 2023.
    </p>

    <p class="text_bottom_home">
    
        © Editions Francis Lefebvre - La Quotidienne
    </p>


</div>
{% endblock content %}
