{% extends "layout.html" %}
{% block content %}


<h2>HHH</h2>

La cession du bail rural peut se réaliser du vivant de l’exploitant agricole mais aussi après son décès. Ainsi, la transmission du bail rural, au profit du conjoint survivant notamment, est possible à plusieurs conditions.

 

Les conditions de transmission du bail rural au conjoint
Après le décès de l’exploitant agricole, le bail rural dont il disposait se poursuit. Le bail ne prend pas fin par la seule cause du décès du preneur.

 

Le bail rural peut se poursuivre au bénéfice de plusieurs personnes proches de l’exploitant agricole décédé :

son conjoint survivant ou son partenaire de PACS (pacte civil de solidarité) ;
ses ascendants ;
ses descendants.
 

Pour bénéficier de la transmission du bail rural, les proches doivent avoir participé aux travaux de l’exploitation agricole au cours des 5 dernières années.

Concernant le conjoint, la participation peut se réaliser indépendamment de la date de l’union : un partenaire ayant travaillé pendant 5 ans conserve le bénéfice du bail rural même si l’union est célébrée peu de temps avant le décès de l’exploitant.

 

Précisions sur la participation au travail dans l’exploitation agricole
La Cour de cassation s’est récemment prononcée sur la résiliation ou non d’un bail rural après décès au profit du récent conjoint (décision du 16 novembre 2022).

Après le décès d’un exploitant agricole, le bailleur peut demander au juge de prononcer la résiliation du bail rural dans les 6 mois à compter du décès. En l’espèce, les juges ont estimé que l’épouse remplissait les conditions puisqu’elle avait travaillé plus de 5 ans dans l’exploitation agricole, même si le mariage était intervenu 49 jours avant le décès de l’exploitant.

Le bailleur invoquait la résiliation du bail rural mais la Cour de cassation constate qu’au jour du décès de l’exploitant, la veuve était l’épouse de ce dernier et qu’elle participait de manière régulière et effective à l’exploitation depuis plus de 5 ans. Les conditions étant réunies, elle pouvait légitimement bénéficier de la transmission du bail rural.

La qualité de conjoint ou de partenaire de PACS n’a pas à être obtenue de longue date. Seul le travail effectif au sein de l’exploitation agricole compte.

Pour toute question sur la cession du bail rural, consultez un expert-comptable spécialisé dans les exploitations agricoles.

{% endblock content %}