{% extends "layout.html" %}
{% block content %}

<br/><br/>
<div class="container-fluid">

<h2 class="about_page_taital" style="color:black;">Actualités - Métiers</h2><br/>

<div class="row">
    <div class="col-md-4" >
        <img src="{{url_for('static',filename='images/girl_working.jpeg') }}" >
        <div class="date_encart">22 avril 2023</div><br/>
        <h2 class="titre_article">Transmission du bail rural au conjoint après le décès de l’exploitant</h2>
        <hr class="separation">
        <div class="debut_article">
            <p>
                La cession du bail rural peut se réaliser du vivant de l’exploitant agricole mais aussi après son décès. Ainsi, la transmission du bail rural, au profit du conjoint survivant notamment, est possible à plusieurs conditions.   Les conditions de transmission du bail rural au conjoint Après le décès de l’exploitant agricole, le bail rural dont […]
            </p>
            <a href="newstransmissionbailrural" class="read-more">Lire l'article</a>
        </div>
    </div>

    <div class="col-md-4">
        <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">

    </div>

    <div class="col-md-4">
        <img src="{{url_for('static',filename='images/girl_working.jpeg') }}" >

    </div>

</div>
</div>









</br></br></br></br></br></br></br>
<div class="container">
    <div class="news">
      <h2>News Title 1</h2>
      <p>Published on <span class="date">June 1, 2023</span></p>
      <img src="news1.jpg" alt="News 1 Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis lectus et tristique euismod.</p>
      <a href="news1.html" class="read-more">Read More</a>
    </div>
    
    <div class="news">
      <h2>News Title 2</h2>
      <p>Published on <span class="date">June 5, 2023</span></p>
      <img src="news2.jpg" alt="News 2 Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis lectus et tristique euismod.</p>
      <a href="news2.html" class="read-more">Read More</a>
    </div>
    
    <div class="news">
      <h2>News Title 3</h2>
      <p>Published on <span class="date">June 10, 2023</span></p>
      <img src="news3.jpg" alt="News 3 Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis lectus et tristique euismod.</p>
      <a href="news3.html" class="read-more">Read More</a>
    </div>
  </div>

{% endblock content %}