{% extends "layout.html" %}
{% block content %}

<section class="news-detail-header">
    <a class="news-category" href="">Social</a>
    <h1 class="news-heading">
      Une semaine de jurisprudence sociale à la Cour de cassation
    </h1>
    <span class="news-description"
      >Le décret fixant la liste des zones tendues est paru. Plus de 2 000
      nouvelles communes vont pouvoir majorer la taxe d’habitation sur les
      résidences secondaires. Dans ces communes, les logements vacants seront
      imposables de plein droit.</span
    >
  </section>
  <section class="news-detail-img">
    <img src="../static/images/news/fiscal/news_1112.jpeg" alt="" />
  </section>
  <section class="news-detail-header">
    <p class="news-description">
      1. La loi de finances pour 2023 a élargi la définition des zones dites «
      tendues », dans lesquelles s’appliquent, de plein droit, la taxe sur les
      logements vacants (TLV) prévue par l’article 232 du CGI et, sur
      délibération des communes, la majoration de la taxe d’habitation sur les
      résidences secondaires prévue par l’article 1407 ter du même Code.
      Attendu pour le début de l’année 2023 et âprement discuté, le décret
      fixant la liste des communes concernées vient de paraître (Décret
      2023-822 du 25-8-2023). A noter : Les logements vacants s’entendent des
      logements habitables, mais non meublés et inoccupés, tandis que les
      résidences secondaires constituent des locaux meublés non affectés à
      l’habitation principale. Plus de 2 000 nouvelles communes sont
      concernées
    </p>

    <p class="news-description">
      2. La définition des zones tendues résulte de l’article 232 du CGI. Elle
      visait, depuis 2013, les seules communes appartenant à une zone
      d’urbanisation continue de plus de 50 000 habitants et connaissant des
      difficultés sérieuses d’accès au logement. La liste de ces communes
      avait été établie par le décret 2013-392 du 10 mai 2013 modifié par le
      décret 2015-1284 du 13 octobre 2015. La loi de finances pour 2023 a
      ajouté à cette définition les communes qui n’appartiennent pas à une
      agglomération de plus de 50 000 habitants, mais qui sont également
      confrontées à des difficultés particulières d’accès au logement en
      raison, notamment, d’une forte proportion de résidences secondaires.
    </p>
    <p class="news-description">
      3. Le décret 2023-822 du 25 août 2023 modifiant le décret du 10 mai 2013
      procède, d’une part, à l’actualisation de la liste des communes
      appartenant à une agglomération de plus de 50 000 habitants déjà
      concernées par le dispositif (communes relevant de l’article 232, I-1o
      du CGI) et fixe, d’autre part, la liste des communes répondant à la
      nouvelle définition (communes relevant de l’article 232, I-2o du CGI). À
      ce titre, le ministre du logement, Patrice Vergriete, a indiqué que plus
      de 2 000 nouvelles communes rentraient dans le dispositif. La nouvelle
      liste inclut des communes rurales, littorales, touristiques et de
      montagne, ainsi que certaines communes en Guadeloupe, en Martinique et
      en Guyane. La nouvelle liste s’appliquera à compter de 2024
    </p>
    <p class="news-description">
      4. Le nouveau dispositif était initialement conçu pour s’appliquer aux
      impositions établies à compter de 2023, comme en témoigne le texte de
      l’article 73 de la loi de finances pour 2023 qui donnait aux communes la
      possibilité de délibérer jusqu’au 28 février 2023 pour instituer la
      majoration de taxe d’habitation sur les résidences secondaires prévue
      par l’article 1407 ter du CGI. Cependant, compte tenu de la parution
      tardive du décret, le nouveau dispositif entrera en vigueur le 1er
      janvier 2024, comme l’ont indiqué certaines réponses ministérielles
      (Rép. Laurent : Sén. 30-3-2023 no 5095 min. intérieur et transition
      écologique ; Rép. Gérard : AN 22-8-2023 no 5517 min. intérieur et
      transition écologique). A noter : L’institution de la majoration de la
      taxe d’habitation sur les résidences secondaires, qui peut aller de 5 %
      à 60 % de la cotisation, reste subordonnée à une délibération du conseil
      municipal. Celle-ci doit intervenir avant le 1er octobre 2023 pour être
      applicable en 2024 (CGI art. 1639 A bis). La diminution corrélative du
      périmètre de la taxe d’habitation sur les logements vacants
    </p>
    <p class="news-description">
      5. Dans les zones considérées comme non tendues, dans lesquelles la TLV
      prévue par l’article 232 du CGI ne s’applique pas, les communes peuvent,
      par délibération, décider d’assujettir les logements vacants à la taxe
      d’habitation, conformément à l’article 1407 bis du CGI (taxe
      d’habitation sur les logements vacants : THLV). L’extension du périmètre
      d’application de la TLV à compter de 2024 entraînera mécaniquement une
      restriction du champ d’application de la THLV. Une commune qui aurait
      institué la THLV sur son territoire et serait incluse dans la nouvelle
      liste des zones tendues perdra donc le produit de la THLV à compter de
      2024, la TLV étant perçue de plein droit au profit de l’État dans les
      zones tendues. Pour les contribuables, propriétaires de logements
      vacants, les conséquences du remplacement de la THLV par la TLV peuvent
      être variables. Si les deux taxes sont assises sur la valeur locative du
      logement, le taux de la THLV est celui de la taxe d’habitation de la
      commune, alors que le taux de la TLV est fixé uniformément à 17 % la
      première année d’imposition et à 34 % à compter de la deuxième. En
      outre, la TLV est due au bout d’une année de vacance, alors que la THLV
      n’est due qu’après deux ans de vacance.
    </p >
  </section>



{% endblock content %}
