{% extends "layout.html" %}
{% block content %}

<br /><br />
<div class="container-fluid">

  <h2 class="about_page_taital" style="color:black;">Actualités - Fiscalité</h2><br />

  <div class="row">


    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">12 Juin 2023</div><br />
      <h2 class="titre_article">Comment déduire les impayés des clients sur le plan fiscal ?</h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          Certains clients paient en retard, voire pas du tout. En complément des relances et des mesures de
          recouvrement, l’entreprise doit maîtriser la déduction fiscale des impayés clients. Il existe plusieurs types
          de créances en comptabilité et en fiscalité : de la créance douteuse à la créance irrécouvrable. Dès qu’un
          risque de non-recouvrement de créance se […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>

    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">22 Mai 2023</div><br />
      <h2 class="titre_article">
        TVA sur la livraison de biens : comment gérer un acompte ?
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          L’exigibilité de la TVA (taxe sur la valeur ajoutée) est parfois complexe. L’administration fiscale explique,
          dans son bulletin officiel du 21 décembre 2022, la notion de TVA sur la livraison de biens corporels. Elle
          précise notamment le moment de l’exigibilité de la TVA en cas de versement d’un acompte intervenant avant la
          livraison. Le […]
        </p>
        <a href="news_fisca_tva_livraison_biens" class="read-more">Lire l'article</a>
      </div>


    </div>

    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">18 Avril 2023</div><br />
      <h2 class="titre_article">
        Dispositif IR-PME : le taux majoré de 25 % est effectif
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          La Commission européenne a rendu un avis favorable. Le dispositif IR-PME bénéficie donc d’un taux majoré au
          titre de la réduction d’impôt pour un investissement au capital d’une PME française à compter du 12 mars 2023.
          Le taux de la réduction d’impôt passe ainsi de 18 % à 25 %. Découvrez toutes les modalités de […]
        </p>
        <a href="news_fisca_tva_livraison_biens" class="read-more">Lire l'article</a>
      </div>
    </div>

    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">14 Avril 2023</div><br />
      <h2 class="titre_article">
        Nouvelles modalités pour l’aide au paiement des factures de gaz et d’électricité
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          Les modalités du dispositif d’aide en faveur des entreprises grandes consommatrices d’énergie évoluent. Ainsi,
          le décret du 20 mars 2023 apporte quelques nouveautés. Rappelons que cette aide instaurée en juillet 2022 a
          pour objectif de compenser les surcoûts de gaz et d’électricité pour les entreprises jusqu’à la fin de l’année
          2023. De nouvelles entreprises bénéficiaires […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>



    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">11 Avril 2023</div><br />
      <h2 class="titre_article">
        Transmettre son patrimoine : les pratiques des Français
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          Les Français épargnent mais n’anticipent pas beaucoup la transmission de leur patrimoine. Ainsi, seuls 4
          Français sur 10 déclarent avoir organisé leur succession, selon le baromètre 2022 de l’épargne en France IFOP
          / Altaprofits. Transmettre son patrimoine peut s’anticiper de plusieurs façons. Comment transmettre son
          patrimoine ? Avant de vouloir transmettre, il faut […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>


    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">6 Avril 2023</div><br />
      <h2 class="titre_article">
        Le nouvel espace “gérer mes biens immobiliers” des impôts
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          Certains ont sans doute remarqué un nouvel onglet dans leur espace privé du site des impôts. Cet espace “gérer
          mes biens immobiliers” correspond à une nouvelle obligation déclarative pour le contribuable, à réaliser
          impérativement avant le 30 juin 2023. Nouvelle déclaration fiscale concernant les biens immobiliers Tout
          propriétaire d’un bien a l’obligation de […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>

    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">27 Mars 2023</div><br />
      <h2 class="titre_article">
        Fonds de garantie publique pour les contrats d’énergie
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          Création du fonds public de garantie “énergie” Le gouvernement met en place un fonds de garantie publique
          destiné aux entreprises grandes consommatrices d’énergie, gaz et électricité. Ainsi, ces entreprises pourront
          plus facilement accéder à des cautionnements pour leurs contrats de fourniture d’énergie. En effet, les
          fournisseurs d’énergie exigent des garanties pour certains contrats, telles […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>


    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">13 Mars 2023</div><br />
      <h2 class="titre_article">
        Assujettissement à la TVA des indemnités : un nouveau BOI
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          L’assujettissement à la TVA (taxe sur la valeur ajoutée) est une source de complexité pour la plupart des
          entreprises. Les Bulletins officiels des impôts (BOI) et la jurisprudence apportent de précieux enseignements,
          notamment pour le régime des indemnités. Cela intéressera particulièrement les entreprises du tourisme, du
          transport, des télécommunications ou de l’hôtellerie restauration. […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>

    <div class="col-md-4" style="padding:15px;">
      <img src="{{url_for('static',filename='images/girl_working.jpeg') }}">
      <div class="date_encart">9 Mars 2023</div><br />
      <h2 class="titre_article">
        Exploitants agricoles : évolution du processus de déclaration des revenus professionnels
      </h2>
      <hr class="separation">
      <div class="debut_article">
        <p>
          A compter de 2023, une déclaration fiscale et sociale unique vient remplacer la déclaration des revenus
          professionnels (DRP) des exploitants agricoles. Une seule déclaration suffit désormais à déclarer les revenus
          à l’administration fiscale et à la Mutualité sociale agricole (MSA). Le fonctionnement de la déclaration de
          revenus avant 2023 Jusqu’à présent les chefs d’exploitation […]
        </p>
        <a href="news_fisca_deduire_impayes_clients" class="read-more">Lire l'article</a>
      </div>
    </div>

  </div>
</div>


{% endblock content %}