{% extends "layout.html" %}
{% block content %}



<article class="blog-post">
    <h1>Titre de l'article</h1>
    <p class="meta">Publié le 26 octobre 2023 par Auteur</p>
    <img src="image-article.jpg" alt="Image de l'article">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget urna at lectus
        imperdiet congue. Vivamus rhoncus odio a turpis facilisis, eu sodales libero lacinia.
        Sed hendrerit lectus ut consectetur. Proin nec nisl et leo scelerisque eleifend a sit amet nunc.
    </p>
    <p>
        Quisque euismod, lorem eu suscipit scelerisque, sem diam malesuada velit, eu tempor mi erat non elit.
        Sed bibendum, urna non vehicula congue, elit nunc aliquam nunc, non egestas orci ligula in arcu.
    </p>
    <blockquote>
        <p>Voici une citation pertinente de l'article.</p>
    </blockquote>
    <p>
        Mauris elementum dolor eget feugiat posuere. Pellentesque euismod leo vitae lorem ullamcorper, eget
        tincidunt odio pellentesque. Vivamus eget condimentum turpis, non convallis odio.
    </p>
    <p>
        Nulla facilisi. Proin id congue ipsum. Donec semper nulla ut nisi accumsan, et interdum turpis blandit.
    </p>
</article>



{% endblock content %}
