{% extends 'layout.html' %}
{% block content %}
<article id="news" class="py-16 bg-white">
    <div class="container mx-auto flex flex-col gap-8">

        {# Breadcrumb #}
        <nav class="text-gray-500 text-sm">
            &lt; <a href="{{url_for('main.actualites')}}" class="hover:text-primary">Actualités</a>
        </nav>

        <div class="bg-gray-100 px-4 py-2 rounded-lg font-semibold text-gray-500 w-max">
            {% block type %}{% endblock %}
        </div>

        <h1 class="text-3xl md:text-4xl font-extrabold text-primary md:w-4/5">
            {% block title %}{% endblock %}
        </h1>

        <h3 class="text-lg text-gray-500 md:w-4/5">
            {% block subtitle %}{% endblock %}
        </h3>

        <img class="w-full h-64 rounded-3xl object-cover" src="{%block image_url%}{%endblock%}" loading="lazy">

        <p class="text-lg text-gray-600 font-medium mt-8">
            {% block news_content %}{% endblock %}
        </p>

        <div class="text-lg text-right text-gray-600 font-medium mt-8">
            {% block author %}{% endblock %}
        </div>
    </div>
</article>
{% endblock %}