{% extends "layout.html" %}
{% block content %}

<div class="loader-container">
    <div id="foregid" class="foreg"></div>
    <span id="loaderid" class="loader"></span>
</div>

<section class="news-detail-header">
    <a class="news-category" href="">XXX</a>
    <h1 class="news-heading">
        Tourisme : le succès de 2024 suspendu à la réglementation sur les meublés touristiques
    </h1>
    </h1>
    <span class="news-description">
        XXXX
    </span>
</section>

<section class="news-detail-img">
    
        <img src="medeo/static/images/news/fiscal/image_4.jpg" alt="Article Image" />
    
</section>

<section class="news-detail-header">
    <p class="news-description">
        
			Dans la droite ligne de 2022, l’année touristique 2023 devrait s’achever en positif, grâce à une stabilité des Français et un retour confirmé des étrangers. Les professionnels parient beaucoup sur 2024, à condition que la réglementation à venir sur les meublés touristiques ne plombe pas leurs statistiques.
    </p>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Loader des autres pages
        var loaderDiv = document.getElementById('loaderid');
        var foregroundDiv = document.getElementById('foregid');
        // Show the div
        foregroundDiv.style.display = 'block';
        loaderDiv.style.display = 'block';
        // Hide the div after 1 second
        setTimeout(function () {
            loaderDiv.style.display = 'none';
            foregroundDiv.style.display = 'none';
        }, 1000);
    });
</script>


{% endblock %}