{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h1 class="banner_taital" style="margin-top: 10px;">
        Preuve d’une faute rapportée par des « clients mystères » : recevable sous conditions
    </h1>

    <h3 class="banner_taital_h3">
        La pratique des « clients mystères » est licite et la preuve d’une faute en résultant est recevable dès lors que le salarié est préalablement informé de l’existence de ce dispositif d’investigation.

    <img class="image_article" src="{{url_for('static', filename='/images/news/social/news_2.jpeg')}}" loading="lazy">



    <p class="text_bottom_home">
        La chambre sociale de la Cour de cassation fait sa rentrée avec, notamment, un arrêt statuant sur la question du contrôle de l’activité des salariés par l’employeur recourant à l’intervention de « clients mystères ». La faute d’un salarié peut-elle être prouvée au moyen de telles pratiques, ou celles-ci s’apparentent-elles à un stratagème déloyal ?

        Dans cette affaire, un salarié travaillant dans un restaurant libre-service s’est vu notifier une mise à pied disciplinaire, puis un licenciement, en raison de plusieurs fautes, l’employeur lui reprochant de ne pas respecter les procédures d’encaissement mises en place dans l’entreprise, en particulier de ne pas avoir, à plusieurs reprises, édité et remis de ticket de caisse au client lors de l’encaissement.
        
        Pour établir la preuve de ces fautes, l’employeur se prévaut d’une fiche d’intervention d’une société mandatée par lui pour effectuer des contrôles en qualité de « client mystère », ayant constaté qu’aucun ticket de caisse n’a été remis après l’encaissement de la somme demandée.
        
        Le salarié contestait la recevabilité de cette preuve, estimant que l’employeur a ainsi eu recours à un stratagème déloyal rendant cette preuve illicite.
        
        A noter :
        Il est vrai que certaines pratiques similaires faisant intervenir des clients mystères ou de faux clients ont pu être jugées illicites en raison de leur caractère clandestin, les apparentant à des stratagèmes. Ainsi jugé à propos :
        
        d'un huissier ayant fait effectuer, dans différentes boutiques et par des tiers qu'il y avait dépêchés, des achats en espèces, puis procédant, après la fermeture du magasin et hors la présence de la salariée, à un contrôle des caisses et du registre des ventes (Cass. soc. 18-3-2008 n° 06-40.852 FS-PB) ;
        
        des agents mandatés par l'employeur se faisant passer pour des clients du restaurant exploité par l'épouse d'un salarié afin de vérifier que celui-ci s'y trouvait pendant son temps de travail, en dissimulant leur identité (Cass. soc. 18-3-2008 n° 06-45.093 FS-PB) ;
        
        de témoins envoyés par l’employeur afin de surprendre une vendeuse lors de l'encaissement du prix de produits (Cass. soc. 19-11-2014 n° 13-18.749 F-D).
        
        La preuve est licite dès lors que le salarié est préalablement informé du contrôle
        Pour la Cour de cassation, le salarié ayant été informé au préalable de l’existence du dispositif mis en œuvre à son égard, la méthode utilisée par l’employeur était licite. La Cour fonde sa décision sur l’article L 1222-3 du Code du travail qui dispose que le salarié est expressément informé, préalablement à leur mise en œuvre, des méthodes et techniques d'évaluation professionnelle mises en œuvre à son égard.
        
        La cour d’appel (CA Aix-en-Provence 1-7-2021 n° 18/19333) avait en effet constaté que l’information préalable du salarié était attestée par la production :
        
        d'un compte-rendu de réunion du comité d'entreprise faisant état de la visite de « clients mystères » avec mention du nombre de leurs passages ;
        
        et d'une note d'information des salariés sur le dispositif dit du « client mystère », qui porte la mention « pour affichage septembre 2015 » et qui explique son fonctionnement et son objectif.
        
        A noter :
        Rappelons que le Code du travail prévoit que le comité social et économique (CSE) doit être informé et consulté sur les moyens et les techniques permettant un contrôle de l'activité des salariés, préalablement à la décision de mise en œuvre dans l'entreprise (C. trav. art. L 2312-38, al. 3). En l’espèce, la Cour de cassation ne précise pas si le comité d’entreprise de l’époque a été consulté ou simplement informé.
        
        Il n’a pas été demandé à la Cour de cassation de se prononcer sur la justification du recours à un tel dispositif de contrôle. On rappelle que, pour être licite, un dispositif de contrôle et de surveillance ne doit pas apporter aux droits des personnes et aux libertés individuelles et collectives de restrictions qui ne seraient pas justifiées par la nature de la tâche à accomplir ni proportionnées au but recherché (C. trav. art. L 1121-1).
        
        A notre avis :
        S’agissant d’un dispositif de contrôle par hypothèse ponctuel, au temps et au lieu du travail, n’impliquant pas de surveillance permanente ni de traitement automatisé de données personnelles, le recours aux « clients mystères » nous semble être un dispositif de contrôle peu ou pas attentatoire aux libertés du salarié.
        
        Les résultats de l’enquête peuvent fonder une sanction
        Pour la Cour de cassation, dès lors que le dispositif mis en œuvre était licite, l’employeur pouvait en utiliser les résultats au soutien d’une procédure disciplinaire.
        
        Devant la Cour de cassation, seule la licéité du mode de preuve était contestée, et non la sanction infligée par l’employeur. Les juges du fond avaient estimé que, compte tenu des sanctions antérieures infligées au salarié pour le même motif, la réitération du non-respect des procédures d’encaissement constituait une faute suffisamment grave pour justifier un licenciement.
        
        A noter :
        En tout état de cause, même si la faute consistant à ne pas remettre de ticket de caisse au client peut aujourd'hui sembler bénigne, la Cour de cassation n'exerce qu'un contrôle restreint sur les décisions des juges du fond en matière de faute constitutive d'une cause réelle et sérieuse de licenciement et s'en remet à leur pouvoir souverain d'appréciation des faits (voir, par exemple, Cass. soc 19-12-2012 n° 11-20.434 F-D ; 21-5-2014 n° 13-17.261 F-D).
    </p>

    <p class="text_bottom_home">
    
        © Editions Francis Lefebvre - La Quotidienne
    </p>


</div>
{% endblock content %}
