<!-- JSON LD-->
<script defer src="{{url_for('static', filename='js/json_ld_local_business.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_service_expertise_comptable.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_service_audit_financier.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_aggr_ranking.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_breadcrumb.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_website.js') }}"></script>