<!-- Données structurées schema.org -->

{#- JSON-LD de l'article, rendu INLINE côté serveur : les crawlers le voient
    sans exécuter de JavaScript. Fourni par blog.article() via _article_jsonld(). -#}
{% if article_jsonld %}
<script type="application/ld+json">{{ article_jsonld | tojson }}</script>
{% endif %}

<script defer src="{{url_for('static', filename='js/json_ld_local_business.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_service_expertise_comptable.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_service_audit_financier.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_service.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_breadcrumb.js') }}"></script>
<script defer src="{{url_for('static', filename='js/json_ld_website.js') }}"></script>
{% include 'includes/head/json_ld_faq.html' %}
