<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">

<!-- IExplorer -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Author -->
<meta name="author" content="Bamana-Solutions">

<!-- SEO -->
<meta name="description" content="Medeo Partners, expert en comptabilité et fiscalité à Paris, optimise la gestion financière de votre entreprise avec des services personnalisés.">
<meta name="keywords" content="Comptabilité, gestion d'entreprise, medeo partners, medeo, fiscalité, entreprise, expertise comptabilité, expert comptable, commissaire aux comptes, audit, compagnie nationale des commissaires aux comptes, ordre des experts-comptables, Paris, services financiers, optimisation fiscale, audit financier, commissariat aux comptes, conseils financiers, services comptables, gestion financière, optimisation financière">

<!-- Gestion des url canoniques -->
<link rel="canonical" href="https://www.medeo-partners.com{{ request.path }}">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">

<!-- Preconnect -->
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://unpkg.com">

<link rel="preload" href="{{ url_for('static', filename='medeo_images/Medeo_partners_couleur.webp') }}" as="image">
  