   <!-- Open Graph Meta Tags -->
   <meta property="og:type" content="{% if og_type %}{{ og_type }}{% else %}website{% endif %}">
   <meta property="og:title" content="{% if og_title %}{{ og_title }}{% elif title %}Medeo Partners - {{ title }}{% else %}Cabinet de Comptabilité et de Commissaire aux Comptes à Paris | Medeo Partners{% endif %}">
   <meta property="og:site_name" content="Medeo Partners">
   <meta property="og:url" content="https://www.medeo-partners.com{{ request.path }}">
   <meta property="og:description" content="{% if og_description %}{{ og_description }}{% elif meta_description %}{{ meta_description }}{% else %}Découvrez comment Medeo Partners, avec plus de 10 ans d'expertise en comptabilité et fiscalité, optimise la gestion financière et fiscale de votre société. Notre cabinet à Paris vous offre des services personnalisés pour une gestion optimale de votre entreprise.{% endif %}">
   <meta property="og:image" content="{% if og_image %}{{ og_image }}{% else %}https://www.medeo-partners.com{{ url_for('static', filename='medeo_images/Medeo_partners_couleur.webp') }}{% endif %}">
   <meta property="og:locale" content="{% if g.lang_code == 'fr' %}fr_FR{% else %}en_US{% endif %}">
   {% if g.lang_code == 'fr' %}
   <meta property="og:locale:alternate" content="en_US">
   {% else %}
   <meta property="og:locale:alternate" content="fr_FR">
   {% endif %}
