   <!-- Open Graph Meta Tags -->
   <meta property="og:type" content="website">
   <meta property="og:title" content="Cabinet de Comptabilité et de Commissaire aux Comptes à Paris | Medeo Partners">
   <meta property="og:site_name" content="Medeo Partners">
   <meta property="og:url" content="https://www.medeo-partners.com/">
   <meta property="og:description" content="Découvrez comment Medeo Partners, avec plus de 10 ans d'expertise en comptabilité et fiscalité, optimise la gestion financière et fiscale de votre société. Notre cabinet à Paris vous offre des services personnalisés pour une gestion optimale de votre entreprise.">
   <meta property="og:image" content="{{ url_for('static', filename='medeo_images/Medeo_partners_couleur.webp') }}">
