{% extends "news/news_template.html" %}

{% block type %}Juridique{% endblock %}

{% block title %}Mécénat d’entreprise : et si vous participiez à l’achat d’une œuvre exceptionnelle ?{% endblock %}

{% block subtitle %}Les entreprises soumises à l’impôt sur les sociétés peuvent bénéficier d’une réduction d’impôt allant jusqu’à 90 % des dons effectués pour contribuer à l’achat par l’État d’un bréviaire réalisé au XIVe siècle pour le roi de France Charles V.{% endblock %}

{% block image_url %}{{url_for('static', filename='/images/news/juridique/juridique_one.jpeg')}}{% endblock %}

{% block news_content %}
Au printemps dernier, la Bibliothèque nationale de France avait ouvert une souscription publique afin d’acquérir un exceptionnel manuscrit enluminé réalisé vers 1370 pour le roi de France Charles V. Mais, début septembre, la somme de 1,6 M€ nécessaire
à cette acquisition n’était pas encore réunie. C’est pourquoi l’État se tourne désormais vers le mécénat d’entreprise en vue de collecter la somme de 460 000 €. À ce titre, la ministre de la Culture a publié un avis visant à informer les entreprises
soumises à l’impôt sur les sociétés, d’après leur bénéfice réel, qu’elles peuvent profiter d’une réduction d’impôt allant jusqu’à 90 % des dons effectués en contribution à l’achat de cette œuvre présentant un intérêt majeur pour le patrimoine
national. À noter : les versements ne sont pas déductibles des résultats imposables de l’entreprise donatrice. Pour cela, les entreprises intéressées doivent adresser, en double exemplaire, une offre de versement, établie selon le modèle prévu
à cet effet, à la direction générale des patrimoines et de l’architecture, service des musées de France, 182 rue Saint-Honoré, 75001 Paris. Puis, les dons doivent être acceptés par les ministres de la Culture et du Budget. La réduction s’applique
sur l’impôt dû au titre de l’exercice d’acceptation des versements. Et attention, elle ne peut pas excéder 50 % du montant de cet impôt. Précision : l’appel aux dons est ouvert jusqu’au 31 décembre 2023.
{% endblock %}

{% block author %}© MARION BEUREL{% endblock %}