<div class="footer_section px-4 py-16 bg-primary text-white">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-3 gap-8">
            <!-- About Section -->
            <div class="flex flex-col gap-2">
                <h2 class="text-xl mb-2 font-extrabold">{{_('À PROPOS')}}</h2>
                <a href="{{_('votre_cabinet')}}">{{_('Le Cabinet')}}</a>
                <a href="{{_('expertise_comptable')}}">{{_('Expertise-Comptable')}}</a>
                <a href="{{_('audit#commissariatauxcomptes')}}">{{_('Commissariat aux comptes')}}</a>
            </div>

            <!-- Address Section -->
            <div class="flex flex-col gap-2">
                  <h2 class="text-xl mb-2 font-extrabold">{{_('NOUS CONTACTER')}}</h2>
                  <a href="{{_('nouscontacter')}}">{{_('Contact')}}</a>
                  <a href="{{_('votre_cabinet#carousel_partners')}}">{{_("L\'équipe")}}</a>
                  
                  <a class="flex gap-2 items-center text-gray-200 mt-4">
                     <i class="fa-solid text-white fa-location-pin"></i>
                     97 Bd Malesherbes - 75008 Paris
                  </a>
                  <a class="flex gap-2 items-center text-gray-200">
                     <i class="fa-solid text-white fa-phone"></i>
                     01 83 64 16 04
                  </a>
                  <a class="flex gap-2 items-center text-gray-200">
                     <i class="fa-solid text-white fa-envelope"></i>
                     contact@medeo-partners.com
                  </a>
            </div>


            <!-- Logos Section -->
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="mb-3">
                    <img src="{{url_for('static', filename='medeo_images/Medeo_partners_blc.webp') }}" width="200" height="180" alt="Medeo Partners logo" loading="lazy">
                </div>
                <div class="ml-4 crcc-logo">
                    <a href="https://www.cncc.fr" target="_blank">
                        <img src="{{url_for('static', filename='images/logo-crcc-black.webp')}}" alt="CNCC" width="180" height="80" loading="lazy">
                    </a>
                </div>
                <div class="ml-4 crcc-logo mt-3">
                    <a href="https://www.oec-paris.fr/" target="_blank">
                        <img src="{{url_for('static', filename='images/oec.webp')}}" alt="Ordre des Experts Comptables" width="180" height="44" loading="lazy">
                    </a>
                </div>
            </div>
        </div>
    </div>